@charset "UTF-8";
* {
  word-wrap: break-word; }

body {
  min-width: 1200px;
  margin: 0 auto;
  font: 12px 'Microsoft Yahei',Tahoma,Simsun; }

a {
  color: #444; }

header {
  height: 28px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 9; }
  header .h_box_left {
    display: inline-block; }
    header .h_box_left p {
      float: left;
      padding: 0 5px;
      line-height: 28px;
      font-size: 12px; }
      header .h_box_left p a:hover {
        color: #248DCC; }
      header .h_box_left p .h_icon1 {
        display: inline-block;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/epetbrand.png") left 0 top 8PX no-repeat;
        height: 28px;
        text-indent: 16px; }
      header .h_box_left p .plase_send {
        line-height: 28px;
        margin-left: 5px; }
      header .h_box_left p .epetbrand {
        display: inline-block;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg.png") -9px -425px no-repeat;
        height: 28px;
        text-indent: 19px; }
      header .h_box_left p .epetbrand:hover {
        color: #F60; }
      header .h_box_left p .evaluate_num {
        color: #F60; }
  header .place {
    float: left;
    position: relative; }
    header .place .place_show {
      position: relative;
      display: block; }
      header .place .place_show:hover .placebox {
        display: block; }
      header .place .place_show:hover .h_icon2 {
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/xqico.png") 0 -46px no-repeat;
        display: block;
        top: 11px;
        right: 5px;
        width: 15px;
        height: 15px;
        position: absolute; }
      header .place .place_show .myplace {
        font-size: 12px;
        padding: 0 20px 0 5px;
        line-height: 28px;
        width: auto;
        cursor: pointer;
        color: #666; }
      header .place .place_show .h_icon2 {
        width: 15px;
        height: 15px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/xqico.png") 0 -31px no-repeat;
        position: absolute;
        top: 9px;
        left: 30px;
        display: inline-block; }
      header .place .place_show .placebox {
        display: none;
        margin-top: -2px;
        position: absolute;
        font-size: 14px;
        z-index: 99;
        top: 30px;
        left: 0;
        background: transparent;
        line-height: 15px;
        min-height: 270px; }
        header .place .place_show .placebox .placebox_list {
          width: 400px;
          display: inline-block;
          border: 1px solid #ddd;
          padding: 5px 5px 15px;
          position: relative;
          background: #fff; }
          header .place .place_show .placebox .placebox_list .place_title {
            width: 100%;
            height: 25px;
            display: inline-block;
            border-bottom: 1px solid #ddd;
            color: black; }
            header .place .place_show .placebox .placebox_list .place_title li {
              border-right: 1px solid #ddd;
              border-left: 1px solid #ddd;
              border-top: 1px solid #ddd;
              display: inline-block;
              line-height: 24px;
              font-size: 12px;
              color: #888;
              width: 70px;
              text-align: center;
              cursor: pointer;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              background: #f6f6f6; }
            header .place .place_show .placebox .placebox_list .place_title .active {
              background: #fff; }
          header .place .place_show .placebox .placebox_list .palce_content {
            margin-top: 5px;
            color: #666; }
            header .place .place_show .placebox .placebox_list .palce_content .placesites {
              padding: 10px 10px 5px 10px; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites span {
                color: #999;
                border-right: 1px dotted #e8e8e8;
                padding-right: 3px; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites a {
                padding: 2px 10px;
                color: #666; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites .placesite1 {
                background: #fb6003;
                color: #fff; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites a:hover {
                background: #fb6003;
                color: #fff; }
            header .place .place_show .placebox .placebox_list .palce_content .hide {
              display: none; }
              header .place .place_show .placebox .placebox_list .palce_content .hide a {
                display: inline-block;
                margin-top: 5px;
                padding: 2px 10px;
                color: #666; }
              header .place .place_show .placebox .placebox_list .palce_content .hide a:hover {
                color: #fff; }

.h_box {
  width: 1200px;
  margin: 0 auto; }

.h_box_right {
  padding-top: 1px;
  float: right;
  font-size: 12px; }
  .h_box_right li {
    color: #444;
    float: left;
    padding: 0 5px;
    height: 26px;
    position: relative;
    line-height: 25px;
    z-index: 10;
    border: 1px solid #F5F5F5;
    border-bottom: 0; }
    .h_box_right li:hover .login, .h_box_right li:hover .register, .h_box_right li:hover .shopingcar, .h_box_right li:hover .question, .h_box_right li:hover .mobile {
      color: #248DCC; }
    .h_box_right li i {
      background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg.png");
      background-repeat: no-repeat; }
    .h_box_right li i {
      width: 13px;
      height: 13px;
      background-position: -312px -46px;
      background-repeat: no-repeat;
      margin-top: 6px;
      margin-right: 5px;
      float: left; }
    .h_box_right li .car_icon {
      background-position: -291px -46px;
      width: 14px;
      height: 14px;
      margin-top: 6px;
      margin-right: 5px;
      float: left; }
    .h_box_right li .number {
      color: red; }
    .h_box_right li .mypet {
      position: relative;
      padding-right: 14px;
      cursor: pointer;
      float: left;
      display: block; }
      .h_box_right li .mypet b {
        display: block;
        width: 0;
        height: 0;
        border: transparent solid 4px;
        border-top: #717171 solid 4px;
        position: absolute;
        right: 0;
        top: 10px;
        overflow: hidden; }
    .h_box_right li .mypetbox {
      border: 1px solid #ddd;
      border-top: 0;
      position: absolute;
      left: -1px;
      top: 26px;
      float: left;
      padding: 5px 10px;
      display: none;
      background-color: #FFF; }
      .h_box_right li .mypetbox a {
        line-height: 14px;
        padding: 0 10px;
        width: 80px;
        margin: 5px 0;
        background-position: 0 -260px;
        display: block; }
    .h_box_right li .collect {
      position: relative;
      padding-right: 14px;
      cursor: pointer;
      display: block;
      color: #444; }
      .h_box_right li .collect i {
        background-position: -353px -46px;
        width: 15px;
        margin-right: 4px; }
      .h_box_right li .collect b {
        display: block;
        width: 0;
        height: 0;
        border: transparent solid 4px;
        border-top: #717171 solid 4px;
        position: absolute;
        right: 0;
        top: 10px;
        overflow: hidden; }
    .h_box_right li .collectbox {
      border: 1px solid #ddd;
      border-top: 0;
      position: absolute;
      left: -1px;
      top: 26px;
      float: left;
      padding: 5px 10px;
      display: none;
      background-color: #FFF; }
      .h_box_right li .collectbox a {
        line-height: 14px;
        padding: 0 10px;
        width: 70px;
        margin: 5px 0;
        background-position: 0 -260px;
        display: block; }
    .h_box_right li .question {
      color: red; }
  .h_box_right .petknow:hover .mypetbox {
    display: block; }
  .h_box_right .petknow:hover b {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    -webkit-transform-origin: 50% 25%;
    -o-transform-origin: 50% 25%;
    -ms-transform-origin: 50% 25%;
    -moz-transform-origin: 50% 255%;
    transform-origin: 50% 25%; }
  .h_box_right .petknow .myepet:hover {
    color: #248DCC; }
  .h_box_right .petknow .mypet_tit1:hover, .h_box_right .petknow .mypet_tit2:hover, .h_box_right .petknow .mypet_tit3:hover, .h_box_right .petknow .mypet_tit4:hover, .h_box_right .petknow .mypet_tit5:hover {
    color: #248DCC; }
  .h_box_right .collcetion:hover .collectbox {
    display: block; }
  .h_box_right .collcetion:hover b {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    -webkit-transform-origin: 50% 25%;
    -o-transform-origin: 50% 25%;
    -ms-transform-origin: 50% 25%;
    -moz-transform-origin: 50% 255%;
    transform-origin: 50% 25%; }
  .h_box_right .collcetion .collect_tit:hover {
    color: #248DCC; }
  .h_box_right .collcetion:hover {
    display: block; }
  .h_box_right .mobileApp i {
    background-position: -334px -46px; }
  .h_box_right .mobileApp img {
    display: none;
    width: 80px;
    position: absolute;
    left: 0;
    top: 25px;
    margin-top: -2px; }
  .h_box_right .mobileApp:hover img {
    display: block; }

.head_box {
  width: 1200px;
  margin: 0 auto; }
  .head_box img {
    width: 1200px;
    margin: 0 auto;
    display: block; }
  .head_box .top_search {
    padding-top: 10px;
    font-size: 12px;
    height: 100px;
    display: block; }
    .head_box .top_search .logo {
      float: left;
      height: 94px;
      width: 268px;
      position: relative; }
      .head_box .top_search .logo .dog_logo {
        display: inline-block;
        width: 268px;
        height: 94px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/epet-logo.png") 0 -12px no-repeat;
        margin-top: 7px; }
    .head_box .top_search .search {
      margin: 23px 0 0 33px;
      float: left; }
      .head_box .top_search .search .searchworld {
        border: #459d36 solid 2px;
        background: 0 0;
        padding: 0 5px 0 15px;
        width: 382px;
        height: 30px;
        outline: 0;
        line-height: 30px;
        font-size: 14px;
        float: left; }
      .head_box .top_search .search .searchbtn {
        border: 0;
        width: 73px;
        height: 30px;
        vertical-align: top;
        cursor: pointer;
        background-color: #459d36;
        color: #FFF;
        font-size: 14px; }
    .head_box .top_search .keywords {
      margin: 10px 0;
      width: 498px;
      height: 17px;
      overflow: hidden; }
      .head_box .top_search .keywords label {
        float: left;
        white-space: nowrap;
        color: #999; }
      .head_box .top_search .keywords a {
        display: inline;
        white-space: nowrap;
        color: #999; }
      .head_box .top_search .keywords span {
        color: #999;
        margin: 0 10px; }
      .head_box .top_search .keywords .cred {
        color: red; }
    .head_box .top_search .go_buy {
      margin: 23px 0 0;
      width: 130px;
      height: 39px;
      text-align: center;
      text-indent: 2em;
      background: url("https://static.epetbar.com/static_web/pc/dist/images/background/shopping-cart.gif") no-repeat;
      float: right; }
      .head_box .top_search .go_buy .buy_car {
        line-height: 39px;
        color: #666; }
        .head_box .top_search .go_buy .buy_car .buy_num {
          display: inline-block;
          vertical-align: middle;
          margin-top: -4px;
          color: #f40;
          text-indent: 0;
          margin-left: 2px; }
  .head_box .top_nav {
    padding-top: 10px;
    height: 44px;
    border-bottom: #357e34 solid 2px; }
    .head_box .top_nav .dognav_list {
      position: relative; }
      .head_box .top_nav .dognav_list .nav_left {
        position: relative;
        float: left;
        width: 288px; }
        .head_box .top_nav .dognav_list .nav_left .nav_left_title {
          height: 34px;
          line-height: 32px;
          color: #FFF;
          font-size: 16px;
          text-align: center; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title span {
            float: left;
            width: 115px;
            height: 32px;
            text-align: center;
            color: #666;
            cursor: pointer; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title span b {
              display: inline-block;
              vertical-align: middle;
              margin-top: -2px;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png") no-repeat;
              margin-left: 5px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1 {
            position: relative; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1:hover .cate1 {
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
              background-position: 0 -1257px; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1:hover .pet-cate1 {
              display: block; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1 .cate1 {
              width: 16px;
              height: 13px;
              background-position: -17px -1257px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1 {
            color: #888; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1:hover .cate2 {
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
              color: #fff;
              background-position: 0 -1276px; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1:hover .doglist1 {
              display: block; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1 .cate2 {
              background-position: -17px -1276px;
              width: 13px;
              height: 7px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .changecolor {
            background-color: #22990d;
            border: 1px solid #46ab50; }
      .head_box .top_nav .dognav_list .dog_nav {
        width: 228px;
        position: absolute;
        top: 34px;
        left: 0;
        border-top: 2px solid #FFF; }
        .head_box .top_nav .dognav_list .dog_nav .doglist1 {
          height: 358px;
          position: relative;
          display: none; }
          .head_box .top_nav .dognav_list .dog_nav .doglist1 ul {
            overflow: hidden;
            background: #fff; }
            .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li {
              height: 51px;
              display: block;
              width: 100%;
              float: left;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/menuLine1.png") 50% bottom no-repeat; }
              .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li h3 {
                background-position: right -1206px;
                background-repeat: no-repeat;
                padding-left: 16px;
                font-weight: 400;
                height: 50px;
                line-height: 50px;
                background-color: #fcfcfc;
                background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png?v=0128"); }
                .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li h3 a {
                  font-size: 14px;
                  display: inline-block;
                  width: 88px;
                  overflow: hidden;
                  height: 50px; }
                  .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li h3 a i {
                    display: inline-block;
                    color: #999;
                    width: 40px;
                    font-size: 12px;
                    margin-left: 4px; }
          .head_box .top_nav .dognav_list .dog_nav .doglist1 .pet-active {
            height: 52px;
            line-height: 52px;
            background: #fff;
            color: #22990d;
            text-indent: 20px;
            font-size: 14px; }
            .head_box .top_nav .dognav_list .dog_nav .doglist1 .pet-active img {
              vertical-align: middle;
              margin-top: -3px;
              margin-right: 5px;
              width: 17px;
              height: 22px;
              display: inline-block; }
            .head_box .top_nav .dognav_list .dog_nav .doglist1 .pet-active a {
              height: 24px;
              padding: 0 9px;
              border-radius: 8px;
              background: #fb6003;
              color: #fff;
              margin-left: 10px; }
        .head_box .top_nav .dognav_list .dog_nav .pet-cate1 {
          height: 358px;
          overflow: hidden;
          display: none; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd {
            height: 119px;
            text-align: center;
            background: #fff; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd a span {
              display: inline-block;
              width: 60px;
              height: 60px;
              margin-top: 27px;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/new_petcate.png"); }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span {
            display: inline-block;
            width: 110px;
            height: 60px;
            margin-left: 8px;
            margin-top: 27px;
            vertical-align: top; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span p {
              line-height: 24px;
              padding-bottom: 4px;
              color: #333;
              font-size: 12px; }
              .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span p .cstress {
                color: #f03e3e; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span .c999 {
              color: #999;
              font-size: 12px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dognow {
            background-color: #f5f5f5;
            border-bottom: 0; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dognow span {
              background-position: 0 -180px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm {
            border-bottom: 1px dashed #ccc; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm span {
              background-position: 0 -60px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm:hover .cat-shatype img {
              left: -25px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm .p-link {
              border: 1px solid #e74085;
              color: #e74085; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm .cat-shatype {
              background: 0 0;
              width: 27px;
              position: absolute;
              top: 119px;
              left: 0;
              z-index: -1; }
              .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm .cat-shatype img {
                width: 27px;
                height: 119px;
                display: block;
                transition: left .3s;
                -moz-animation: left .3s;
                -webkit-transition: left .3s;
                -o-transition: left .3s;
                position: absolute;
                top: 0;
                left: 0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish span {
            background-position: 0 -120px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish span .p-link {
              border: 1px solid #059ee0;
              color: #059ee0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish .fish-fishtanktype {
            background: 0 0;
            width: 27px;
            position: absolute;
            top: 238px;
            left: 0;
            z-index: -1; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish .fish-fishtanktype img {
              width: 27px;
              height: 119px;
              display: block;
              transition: left .3s;
              -moz-animation: left .3s;
              -webkit-transition: left .3s;
              -o-transition: left .3s;
              position: absolute;
              top: 0;
              left: 0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish:hover .fish-fishtanktype img {
            left: -25px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-ph:hover .dogcloth img {
            left: -25px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-link {
            border: 1px solid #aeaeae;
            color: #aeaeae;
            display: inline-block;
            font-size: 12px;
            width: 108px;
            height: 28px;
            line-height: 30px;
            text-align: center; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dogcloth {
            background: 0 0;
            position: absolute;
            width: 27px;
            top: 0;
            left: 0;
            z-index: -1; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dogcloth img {
              width: 27px;
              height: 119px;
              display: block;
              transition: left .3s;
              -moz-animation: left .3s;
              -webkit-transition: left .3s;
              -o-transition: left .3s;
              position: absolute;
              top: 0;
              left: 0; }
    .head_box .top_nav .nav_right {
      overflow: hidden;
      height: 34px; }
      .head_box .top_nav .nav_right li {
        float: left;
        position: relative; }
        .head_box .top_nav .nav_right li .right_nav {
          float: left;
          line-height: 34px;
          font-size: 16px;
          color: #000;
          font-weight: 700;
          padding: 0 20px;
          text-decoration: none;
          height: 34px; }
          .head_box .top_nav .nav_right li .right_nav .logoimg {
            width: 100px;
            position: inherit;
            margin-top: -2px; }
          .head_box .top_nav .nav_right li .right_nav b {
            display: inline-block;
            width: 13px;
            height: 17px;
            background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png") -35px -1280px;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 6px;
            color: #459d36;
            -webkit-transition: -webkit-transform .2s ease-out;
            -moz-transition: -moz-transform .2s ease-out;
            -o-transition: -o-transform .2s ease-out;
            -ms-transition: -ms-transform .2s ease-out; }
          .head_box .top_nav .nav_right li .right_nav b:hover {
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
            -o-transform: rotateZ(360deg);
            -ms-transform: rotateZ(360deg);
            transform: rotateZ(360deg); }
        .head_box .top_nav .nav_right li .right_nav:hover {
          color: #459d36; }

.main .bg1 {
  height: 400px;
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/1812_01.jpg") center; }
  .main .bg1 .rule-pos {
    width: 250px;
    height: 100px;
    right: 5px;
    top: 0; }

.main .bg2 {
  height: 400px;
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/1812_02.jpg") center; }

.main .bg3 {
  height: 274px;
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/1812_03.jpg") center;
  position: relative; }
  .main .bg3 .notice {
    width: 265px;
    height: 122px;
    background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/notice.png");
    position: absolute;
    left: 786px;
    bottom: -83px;
    overflow: hidden; }
    .main .bg3 .notice ul {
      width: 265px;
      margin: 10px; }
      .main .bg3 .notice ul li {
        height: 122px;
        overflow: hidden;
        text-align: center;
        width: 178px; }
        .main .bg3 .notice ul li .cyellow {
          color: #ffe400; }
      .main .bg3 .notice ul .cff {
        color: #fff; }
      .main .bg3 .notice ul .ft28 {
        font-size: 28px;
        color: #fff; }

.main .bg4 {
  height: 578px;
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/1812_04.jpg") center; }
  .main .bg4 .rela {
    position: relative; }
    .main .bg4 .rela .btn-pos {
      width: 235px;
      height: 70px;
      right: 171px;
      bottom: 45px; }
    .main .bg4 .rela .abs {
      position: absolute; }

.main .bg5 {
  height: 600px;
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/1812_05.jpg") center; }
  .main .bg5 .btn-pos {
    width: 235px;
    height: 70px;
    right: 485px;
    bottom: 33px; }
  .main .bg5 .abs {
    position: absolute; }

.main .bg6 {
  height: 624px;
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/1812_06.jpg") center; }
  .main .bg6 .rela {
    position: relative; }
    .main .bg6 .rela .btn-pos {
      width: 322px;
      height: 70px;
      background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/action_btn.png");
      bottom: 54px;
      left: 440px; }
      .main .bg6 .rela .btn-pos img {
        margin-top: 8px; }
      .main .bg6 .rela .btn-pos .animated {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
      .main .bg6 .rela .btn-pos .infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite; }
      .main .bg6 .rela .btn-pos .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft; }
      .main .bg6 .rela .btn-pos .db {
        display: block; }
    .main .bg6 .rela .abs {
      position: absolute; }

.main .repeat-bg {
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/repeat_bg.jpg") top center repeat-y;
  padding-bottom: 150px; }
  .main .repeat-bg .hotgoods {
    width: 1086px;
    height: 517px;
    background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/1812_07.png"); }
    .main .repeat-bg .hotgoods .timer {
      top: 120px;
      left: 300px; }
      .main .repeat-bg .hotgoods .timer .fl {
        float: left; }
      .main .repeat-bg .hotgoods .timer .cfff {
        color: #fff; }
      .main .repeat-bg .hotgoods .timer .time-bg {
        width: 51px;
        height: 35px;
        background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/time-bg.png");
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 8px;
        padding-left: 5px; }
      .main .repeat-bg .hotgoods .timer span {
        font-size: 24px;
        line-height: 26px; }
    .main .repeat-bg .hotgoods .schedule {
      top: 300px;
      left: 45px;
      color: #fff; }
      .main .repeat-bg .hotgoods .schedule .mt20, .main .repeat-bg .hotgoods .schedule .mtop20 {
        margin-top: 20px; }
      .main .repeat-bg .hotgoods .schedule .ft24 {
        font-size: 24px; }
    .main .repeat-bg .hotgoods .goods-tab {
      top: 179px;
      left: 251px; }
      .main .repeat-bg .hotgoods .goods-tab .tab-in {
        width: 744px;
        height: 56px;
        background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/tab_in.jpg"); }
      .main .repeat-bg .hotgoods .goods-tab .fl {
        float: left; }
      .main .repeat-bg .hotgoods .goods-tab .pad20 {
        padding: 20px; }
        .main .repeat-bg .hotgoods .goods-tab .pad20 .db {
          display: block; }
      .main .repeat-bg .hotgoods .goods-tab .textover {
        width: 160px;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        text-overflow: ellipsis; }
      .main .repeat-bg .hotgoods .goods-tab .cf0 {
        color: #f03e3e; }
      .main .repeat-bg .hotgoods .goods-tab .ft20 {
        font-size: 20px; }
      .main .repeat-bg .hotgoods .goods-tab .line-through {
        text-decoration: line-through;
        font-size: 14px;
        padding-left: 15px;
        color: #666; }
    .main .repeat-bg .hotgoods .abs {
      position: absolute; }
  .main .repeat-bg .rela {
    position: relative; }
  .main .repeat-bg .ml100 {
    margin-left: 100px; }

.main .map {
  position: fixed;
  bottom: 7px;
  right: 30px;
  width: 150px;
  height: 746px;
  background: url("https://static.epetbar.com/static_sale/pc/1812/regular/images/map.png");
  z-index: 1;
  display: none; }
  .main .map .pettype {
    padding-top: 175px; }
  .main .map .pettype > a {
    height: 35px;
    line-height: 28px;
    font-size: 28px;
    color: #fff3a4;
    padding-left: 20px; }
  .main .map .mt8 {
    margin-top: 8px; }
    .main .map .mt8 li {
      width: 148px;
      height: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      font-size: 18px;
      cursor: pointer; }
  .main .map .spe-map {
    width: 138px;
    margin: 0 auto; }
    .main .map .spe-map p {
      width: 50%;
      color: #c44504;
      font-size: 14px;
      line-height: 30px;
      cursor: pointer;
      float: left;
      text-align: center; }
  .main .map .mt5 {
    margin-top: 5px; }
    .main .map .mt5 li {
      width: 148px;
      height: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      font-size: 18px;
      cursor: pointer; }
  .main .map .to-top {
    padding-top: 122px; }
  .main .map .to-top > a {
    width: 102px;
    height: 40px; }

.main .h100 {
  height: 100%; }

.main .w1200 {
  width: 1200px; }

.main .ct {
  margin: 0 auto; }

.main .rela .rel {
  position: relative; }

.main .abs {
  position: absolute; }

.main .db {
  display: block; }

.main .dib {
  display: inline-block; }

#box3 {
  width: 1326px;
  height: 455px;
  background: #f5f5f5;
  font-size: 12px; }

.end1 {
  width: 1326px;
  height: 100px;
  border-bottom: 1px solid #ddd; }

.end1 ul {
  width: 1228px;
  height: 100px;
  margin: 0 auto; }

.end1 li {
  float: left;
  width: 190px;
  height: 100px;
  position: relative;
  padding-left: 60px;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  font-weight: 900; }

.end1 li:hover {
  transition: all 1s;
  transform: translate(0, -7px); }

.end1 li:hover a {
  color: red;
  transition: all 1s; }

.end1 a {
  color: black; }

.end1 span {
  display: inline-block;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 20px;
  left: 0; }

.end1 li:nth-child(1) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 0; }

.end1 li:nth-child(2) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -81px; }

.end1 li:nth-child(3) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -162px; }

.end1 li:nth-child(4) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -243px; }

.end1 li:nth-child(5) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -324px; }

.end1 li:nth-child(6) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -405px; }

.end2 {
  height: 185px;
  border-bottom: 1px solid #e5e5e5; }

.end2lt {
  width: 388px;
  height: 156px;
  padding-top: 30px;
  float: left; }

.end2lt div {
  float: left;
  color: #666; }

.end2lt div:nth-child(2) {
  margin-left: 31px;
  line-height: 30px; }

.end2lt div:nth-child(2) p {
  font-size: 12px; }

#box3 .minsize {
  font-size: 20px; }

#box3 .minsize span {
  font-size: 12px; }

.end2cen {
  width: 578px;
  height: 186px;
  float: left; }

.end2cen ul {
  float: left;
  margin-right: 84px;
  line-height: 25px; }

.end2cen li:hover a {
  border-bottom: 1px solid red;
  color: red; }

.end2cen p {
  margin: 25px 0; }

.end2rt {
  text-align: center;
  font-size: 12px; }

.end2rt div {
  float: left; }

.end2rt div:nth-child(1) {
  margin-right: 50px; }

.end2rt p:nth-child(1) {
  margin-top: 22px; }

.end2rt img {
  margin-top: 10px; }

.end3 {
  font-size: 12px;
  width: 1150px;
  height: 20px;
  margin: 0 auto; }

.end3 h5 {
  margin: 23px 0;
  color: #999;
  padding-left: 20px;
  font-size: 12px; }
  .end3 h5 a {
    color: #999;
    display: inline-block;
    margin: 0 15px 10px 0; }

.end3 h5 a:hover {
  border-bottom: 1px solid red;
  color: red; }

.end3 div {
  width: 1190px;
  height: 50px;
  padding-left: 37px; }

.end3 img {
  float: left;
  margin-right: 8px; }

.end3 p {
  text-align: center;
  font-size: 12px;
  color: #444; }

.end3 p a:hover {
  border-bottom: 1px solid red;
  color: red; }

/*右侧固定栏*/
.fixedrt {
  height: 100%;
  width: 30px;
  background: #444;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999; }

.fixedtop {
  width: 30px;
  height: 30px;
  margin-top: 70px;
  margin-bottom: 35px;
  padding-top: 5px; }

.fixedtop span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_new.png") no-repeat 0 -235px;
  display: block;
  widows: 30px;
  height: 30px; }

.fixedtop:hover {
  background: #555; }

.fixedtop:hover span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_newhover.png") no-repeat 0 -235px; }

.fixedmid li {
  height: 117px;
  width: 30px;
  padding-left: -4px;
  position: relative; }

.gouwubiao {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_new.png") no-repeat 0 -270px;
  display: block;
  width: 30px;
  height: 30px; }

.r_shopcar p {
  color: #a6a6a6;
  width: 19px;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  display: block; }

.gouwushu {
  background: #a6a6a6;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 2px;
  line-height: 20px;
  text-align: center;
  display: block;
  width: 20px;
  height: 20px; }

.fixedmid .r_shopcar:hover a {
  color: #fff; }

.online:hover a {
  color: #fff;
  background: #555;
  display: block; }

.online:hover b {
  color: #fff; }

.fixedmid .r_shopcar:hover p {
  color: #fff; }

.fixedmid .r_shopcar:hover .gouwubiao {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_newhover.png") no-repeat 0 -270px; }

.fixedmid .r_shopcar:hover .gouwushu {
  color: #000;
  background: #fff; }

.fixedmid .online {
  margin-top: 15px; }
  .fixedmid .online a {
    width: 30px;
    text-align: center;
    padding: 5px;
    color: #a6a6a6;
    display: block;
    font-size: 12px; }

.fixedmid .online span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_new.png") no-repeat -4px -621px;
  display: block;
  width: 30px;
  height: 30px; }

.fixedmid .online:hover span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_newhover.png") no-repeat -4px -621px; }

.fixedbot ul {
  margin-top: -9px; }

.fixedbot li {
  padding-top: 10px; }
  .fixedbot li .nologin-order {
    text-align: center;
    color: #000;
    position: absolute;
    top: 374px;
    right: 30px;
    background: #fff;
    width: 325px;
    height: 128px;
    line-height: 128px;
    border: 1px solid #ccc;
    font-size: 14px;
    display: none; }
    .fixedbot li .nologin-order a {
      text-decoration: underline;
      color: #f00; }

.wendang:hover .nologin-order {
  display: block; }

.fixedbot .wenbox {
  background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_new.png");
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px; }

.fixedbot .starbox {
  background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_new.png");
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px; }

.starbox {
  background-position: -1px -693px; }

.wenbox {
  background-position: 0 -305px; }

.fixedbot li:hover {
  background: #666; }

.fixedbot li:hover span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_newhover.png"); }

.fixedbot li:hover .starbox {
  background-position: -1px -693px; }

.fixedbot li:hover .wenbox {
  background-position: 0 -305px; }

.bagbox {
  background: #fff;
  width: 292px;
  position: absolute;
  right: 29px;
  top: 71px;
  padding: 0 10px 10px 21px;
  border: 1px solid #ccc;
  display: none; }
  .bagbox .bagbox_word {
    text-align: center;
    font-size: 12px;
    color: #000;
    padding: 50px 0; }
    .bagbox .bagbox_word a {
      text-decoration: underline;
      color: red; }

.fixedtop:hover .bagbox {
  display: block; }

.cartview {
  right: 30px;
  left: inherit;
  top: 135px;
  position: fixed;
  display: none;
  width: 510px;
  z-index: 9999;
  cursor: default;
  border: 1px solid #ccc; }
  .cartview .tancbox {
    border-top: 1px solid #ddd;
    border: 1px solid #ddd;
    padding: 15px;
    padding-top: 25px;
    background-color: #fff; }
    .cartview .tancbox .tancbox_word {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
      text-align: center; }

.r_shopcar:hover .cartview {
  display: block; }

.rtcont-dn {
  position: absolute;
  bottom: 20px; }
  .rtcont-dn .rtl {
    position: relative; }
    .rtcont-dn .rtl .rt-app {
      background-position: 0 -410px; }
    .rtcont-dn .rtl .rtico {
      background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bar_new.png");
      background-repeat: no-repeat;
      display: block;
      width: 35px;
      height: 35px; }
    .rtcont-dn .rtl .rt-weixin {
      background-position: 0 -720px;
      cursor: pointer;
      margin-bottom: 0; }
