* {
  word-wrap: break-word; }

body {
  min-width: 1200px;
  margin: 0 auto;
  font: 12px 'Microsoft Yahei',Tahoma,Simsun; }

a {
  color: #444; }

header {
  height: 28px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 9; }
  header .h_box_left {
    display: inline-block; }
    header .h_box_left p {
      float: left;
      padding: 0 5px;
      line-height: 28px;
      font-size: 12px; }
      header .h_box_left p a:hover {
        color: #248DCC; }
      header .h_box_left p .h_icon1 {
        display: inline-block;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/epetbrand.png") left 0 top 8PX no-repeat;
        height: 28px;
        text-indent: 16px; }
      header .h_box_left p .plase_send {
        line-height: 28px;
        margin-left: 5px; }
      header .h_box_left p .epetbrand {
        display: inline-block;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg.png") -9px -425px no-repeat;
        height: 28px;
        text-indent: 19px; }
      header .h_box_left p .epetbrand:hover {
        color: #F60; }
      header .h_box_left p .evaluate_num {
        color: #F60; }
  header .place {
    float: left;
    position: relative; }
    header .place .place_show {
      position: relative;
      display: block; }
      header .place .place_show:hover .placebox {
        display: block; }
      header .place .place_show:hover .h_icon2 {
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/xqico.png") 0 -46px no-repeat;
        display: block;
        top: 11px;
        right: 5px;
        width: 15px;
        height: 15px;
        position: absolute; }
      header .place .place_show .myplace {
        font-size: 12px;
        padding: 0 20px 0 5px;
        line-height: 28px;
        width: auto;
        cursor: pointer;
        color: #666; }
      header .place .place_show .h_icon2 {
        width: 15px;
        height: 15px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/xqico.png") 0 -31px no-repeat;
        position: absolute;
        top: 9px;
        left: 30px;
        display: inline-block; }
      header .place .place_show .placebox {
        display: none;
        margin-top: -2px;
        position: absolute;
        font-size: 14px;
        z-index: 99;
        top: 30px;
        left: 0;
        background: transparent;
        line-height: 15px;
        min-height: 270px; }
        header .place .place_show .placebox .placebox_list {
          width: 400px;
          display: inline-block;
          border: 1px solid #ddd;
          padding: 5px 5px 15px;
          position: relative;
          background: #fff; }
          header .place .place_show .placebox .placebox_list .place_title {
            width: 100%;
            height: 25px;
            display: inline-block;
            border-bottom: 1px solid #ddd;
            color: black; }
            header .place .place_show .placebox .placebox_list .place_title li {
              border-right: 1px solid #ddd;
              border-left: 1px solid #ddd;
              border-top: 1px solid #ddd;
              display: inline-block;
              line-height: 24px;
              font-size: 12px;
              color: #888;
              width: 70px;
              text-align: center;
              cursor: pointer;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              background: #f6f6f6; }
            header .place .place_show .placebox .placebox_list .place_title .active {
              background: #fff; }
          header .place .place_show .placebox .placebox_list .palce_content {
            margin-top: 5px;
            color: #666; }
            header .place .place_show .placebox .placebox_list .palce_content .placesites {
              padding: 10px 10px 5px 10px; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites span {
                color: #999;
                border-right: 1px dotted #e8e8e8;
                padding-right: 3px; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites a {
                padding: 2px 10px;
                color: #666; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites .placesite1 {
                background: #fb6003;
                color: #fff; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites a:hover {
                background: #fb6003;
                color: #fff; }
            header .place .place_show .placebox .placebox_list .palce_content .hide {
              display: none; }
              header .place .place_show .placebox .placebox_list .palce_content .hide a {
                display: inline-block;
                margin-top: 5px;
                padding: 2px 10px;
                color: #666; }
              header .place .place_show .placebox .placebox_list .palce_content .hide a:hover {
                color: #fff; }

.h_box {
  width: 1200px;
  margin: 0 auto; }

.h_box_right {
  padding-top: 1px;
  float: right;
  font-size: 12px; }
  .h_box_right li {
    color: #444;
    float: left;
    padding: 0 5px;
    height: 26px;
    position: relative;
    line-height: 25px;
    z-index: 10;
    border: 1px solid #F5F5F5;
    border-bottom: 0; }
    .h_box_right li:hover .login, .h_box_right li:hover .register, .h_box_right li:hover .shopingcar, .h_box_right li:hover .question, .h_box_right li:hover .mobile {
      color: #248DCC; }
    .h_box_right li i {
      background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg.png");
      background-repeat: no-repeat; }
    .h_box_right li i {
      width: 13px;
      height: 13px;
      background-position: -312px -46px;
      background-repeat: no-repeat;
      margin-top: 6px;
      margin-right: 5px;
      float: left; }
    .h_box_right li .car_icon {
      background-position: -291px -46px;
      width: 14px;
      height: 14px;
      margin-top: 6px;
      margin-right: 5px;
      float: left; }
    .h_box_right li .number {
      color: red; }
    .h_box_right li .mypet {
      position: relative;
      padding-right: 14px;
      cursor: pointer;
      float: left;
      display: block; }
      .h_box_right li .mypet b {
        display: block;
        width: 0;
        height: 0;
        border: transparent solid 4px;
        border-top: #717171 solid 4px;
        position: absolute;
        right: 0;
        top: 10px;
        overflow: hidden; }
    .h_box_right li .mypetbox {
      border: 1px solid #ddd;
      border-top: 0;
      position: absolute;
      left: -1px;
      top: 26px;
      float: left;
      padding: 5px 10px;
      display: none;
      background-color: #FFF; }
      .h_box_right li .mypetbox a {
        line-height: 14px;
        padding: 0 10px;
        width: 80px;
        margin: 5px 0;
        background-position: 0 -260px;
        display: block; }
    .h_box_right li .collect {
      position: relative;
      padding-right: 14px;
      cursor: pointer;
      display: block;
      color: #444; }
      .h_box_right li .collect i {
        background-position: -353px -46px;
        width: 15px;
        margin-right: 4px; }
      .h_box_right li .collect b {
        display: block;
        width: 0;
        height: 0;
        border: transparent solid 4px;
        border-top: #717171 solid 4px;
        position: absolute;
        right: 0;
        top: 10px;
        overflow: hidden; }
    .h_box_right li .collectbox {
      border: 1px solid #ddd;
      border-top: 0;
      position: absolute;
      left: -1px;
      top: 26px;
      float: left;
      padding: 5px 10px;
      display: none;
      background-color: #FFF; }
      .h_box_right li .collectbox a {
        line-height: 14px;
        padding: 0 10px;
        width: 70px;
        margin: 5px 0;
        background-position: 0 -260px;
        display: block; }
    .h_box_right li .question {
      color: red; }
  .h_box_right .petknow:hover .mypetbox {
    display: block; }
  .h_box_right .petknow:hover b {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    -webkit-transform-origin: 50% 25%;
    -o-transform-origin: 50% 25%;
    -ms-transform-origin: 50% 25%;
    -moz-transform-origin: 50% 255%;
    transform-origin: 50% 25%; }
  .h_box_right .petknow .myepet:hover {
    color: #248DCC; }
  .h_box_right .petknow .mypet_tit1:hover, .h_box_right .petknow .mypet_tit2:hover, .h_box_right .petknow .mypet_tit3:hover, .h_box_right .petknow .mypet_tit4:hover, .h_box_right .petknow .mypet_tit5:hover {
    color: #248DCC; }
  .h_box_right .collcetion:hover .collectbox {
    display: block; }
  .h_box_right .collcetion:hover b {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    -webkit-transform-origin: 50% 25%;
    -o-transform-origin: 50% 25%;
    -ms-transform-origin: 50% 25%;
    -moz-transform-origin: 50% 255%;
    transform-origin: 50% 25%; }
  .h_box_right .collcetion .collect_tit:hover {
    color: #248DCC; }
  .h_box_right .collcetion:hover {
    display: block; }
  .h_box_right .mobileApp i {
    background-position: -334px -46px; }
  .h_box_right .mobileApp img {
    display: none;
    width: 80px;
    position: absolute;
    left: 0;
    top: 25px;
    margin-top: -2px; }
  .h_box_right .mobileApp:hover img {
    display: block; }

.head_box {
  width: 1200px;
  margin: 0 auto; }
  .head_box img {
    width: 1200px;
    margin: 0 auto;
    display: block; }
  .head_box .top_search {
    padding-top: 10px;
    font-size: 12px;
    height: 100px;
    display: block; }
    .head_box .top_search .logo {
      float: left;
      height: 94px;
      width: 268px;
      position: relative; }
      .head_box .top_search .logo .dog_logo {
        display: inline-block;
        width: 268px;
        height: 94px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/epet-logo.png") 0 -12px no-repeat;
        margin-top: 7px; }
    .head_box .top_search .search {
      margin: 23px 0 0 33px;
      float: left; }
      .head_box .top_search .search .searchworld {
        border: #459d36 solid 2px;
        background: 0 0;
        padding: 0 5px 0 15px;
        width: 382px;
        height: 30px;
        outline: 0;
        line-height: 30px;
        font-size: 14px;
        float: left; }
      .head_box .top_search .search .searchbtn {
        border: 0;
        width: 73px;
        height: 30px;
        vertical-align: top;
        cursor: pointer;
        background-color: #459d36;
        color: #FFF;
        font-size: 14px; }
    .head_box .top_search .keywords {
      margin: 10px 0;
      width: 498px;
      height: 17px;
      overflow: hidden; }
      .head_box .top_search .keywords label {
        float: left;
        white-space: nowrap;
        color: #999; }
      .head_box .top_search .keywords a {
        display: inline;
        white-space: nowrap;
        color: #999; }
      .head_box .top_search .keywords span {
        color: #999;
        margin: 0 10px; }
      .head_box .top_search .keywords .cred {
        color: red; }
    .head_box .top_search .go_buy {
      margin: 23px 0 0;
      width: 130px;
      height: 39px;
      text-align: center;
      text-indent: 2em;
      background: url("https://static.epetbar.com/static_web/pc/dist/images/background/shopping-cart.gif") no-repeat;
      float: right; }
      .head_box .top_search .go_buy .buy_car {
        line-height: 39px;
        color: #666; }
        .head_box .top_search .go_buy .buy_car .buy_num {
          display: inline-block;
          vertical-align: middle;
          margin-top: -4px;
          color: #f40;
          text-indent: 0;
          margin-left: 2px; }
  .head_box .top_nav {
    padding-top: 10px;
    height: 44px;
    border-bottom: #357e34 solid 2px; }
    .head_box .top_nav .dognav_list {
      position: relative; }
      .head_box .top_nav .dognav_list .nav_left {
        position: relative;
        float: left;
        width: 288px; }
        .head_box .top_nav .dognav_list .nav_left .nav_left_title {
          height: 34px;
          line-height: 32px;
          color: #FFF;
          font-size: 16px;
          text-align: center; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title span {
            float: left;
            width: 115px;
            height: 32px;
            text-align: center;
            color: #666;
            cursor: pointer; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title span b {
              display: inline-block;
              vertical-align: middle;
              margin-top: -2px;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png") no-repeat;
              margin-left: 5px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1 {
            position: relative; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1:hover .cate1 {
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
              background-position: 0 -1257px; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1:hover .pet-cate1 {
              display: block; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1_1 .cate1 {
              width: 16px;
              height: 13px;
              background-position: -17px -1257px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1 {
            color: #888; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1:hover .cate2 {
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
              color: #fff;
              background-position: 0 -1276px; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1:hover .doglist1 {
              display: block; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2_1 .cate2 {
              background-position: -17px -1276px;
              width: 13px;
              height: 7px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .changecolor {
            background-color: #22990d;
            border: 1px solid #46ab50; }
      .head_box .top_nav .dognav_list .dog_nav {
        width: 228px;
        position: absolute;
        top: 34px;
        left: 0;
        border-top: 2px solid #FFF; }
        .head_box .top_nav .dognav_list .dog_nav .doglist1 {
          height: 358px;
          position: relative;
          display: none; }
          .head_box .top_nav .dognav_list .dog_nav .doglist1 ul {
            overflow: hidden;
            background: #fff; }
            .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li {
              height: 51px;
              display: block;
              width: 100%;
              float: left;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/menuLine1.png") 50% bottom no-repeat; }
              .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li h3 {
                background-position: right -1206px;
                background-repeat: no-repeat;
                padding-left: 16px;
                font-weight: 400;
                height: 50px;
                line-height: 50px;
                background-color: #fcfcfc;
                background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png?v=0128"); }
                .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li h3 a {
                  font-size: 14px;
                  display: inline-block;
                  width: 88px;
                  overflow: hidden;
                  height: 50px; }
                  .head_box .top_nav .dognav_list .dog_nav .doglist1 ul li h3 a i {
                    display: inline-block;
                    color: #999;
                    width: 40px;
                    font-size: 12px;
                    margin-left: 4px; }
          .head_box .top_nav .dognav_list .dog_nav .doglist1 .pet-active {
            height: 52px;
            line-height: 52px;
            background: #fff;
            color: #22990d;
            text-indent: 20px;
            font-size: 14px; }
            .head_box .top_nav .dognav_list .dog_nav .doglist1 .pet-active img {
              vertical-align: middle;
              margin-top: -3px;
              margin-right: 5px;
              width: 17px;
              height: 22px;
              display: inline-block; }
            .head_box .top_nav .dognav_list .dog_nav .doglist1 .pet-active a {
              height: 24px;
              padding: 0 9px;
              border-radius: 8px;
              background: #fb6003;
              color: #fff;
              margin-left: 10px; }
        .head_box .top_nav .dognav_list .dog_nav .pet-cate1 {
          height: 358px;
          overflow: hidden;
          display: none; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd {
            height: 119px;
            text-align: center;
            background: #fff; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd a span {
              display: inline-block;
              width: 60px;
              height: 60px;
              margin-top: 27px;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/new_petcate.png"); }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span {
            display: inline-block;
            width: 110px;
            height: 60px;
            margin-left: 8px;
            margin-top: 27px;
            vertical-align: top; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span p {
              line-height: 24px;
              padding-bottom: 4px;
              color: #333;
              font-size: 12px; }
              .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span p .cstress {
                color: #f03e3e; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 dd > span .c999 {
              color: #999;
              font-size: 12px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dognow {
            background-color: #f5f5f5;
            border-bottom: 0; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dognow span {
              background-position: 0 -180px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm {
            border-bottom: 1px dashed #ccc; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm span {
              background-position: 0 -60px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm:hover .cat-shatype img {
              left: -25px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm .p-link {
              border: 1px solid #e74085;
              color: #e74085; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm .cat-shatype {
              background: 0 0;
              width: 27px;
              position: absolute;
              top: 119px;
              left: 0;
              z-index: -1; }
              .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-mm .cat-shatype img {
                width: 27px;
                height: 119px;
                display: block;
                transition: left .3s;
                -moz-animation: left .3s;
                -webkit-transition: left .3s;
                -o-transition: left .3s;
                position: absolute;
                top: 0;
                left: 0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish span {
            background-position: 0 -120px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish span .p-link {
              border: 1px solid #059ee0;
              color: #059ee0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish .fish-fishtanktype {
            background: 0 0;
            width: 27px;
            position: absolute;
            top: 238px;
            left: 0;
            z-index: -1; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish .fish-fishtanktype img {
              width: 27px;
              height: 119px;
              display: block;
              transition: left .3s;
              -moz-animation: left .3s;
              -webkit-transition: left .3s;
              -o-transition: left .3s;
              position: absolute;
              top: 0;
              left: 0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-fish:hover .fish-fishtanktype img {
            left: -25px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-ph:hover .dogcloth img {
            left: -25px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .p-link {
            border: 1px solid #aeaeae;
            color: #aeaeae;
            display: inline-block;
            font-size: 12px;
            width: 108px;
            height: 28px;
            line-height: 30px;
            text-align: center; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dogcloth {
            background: 0 0;
            position: absolute;
            width: 27px;
            top: 0;
            left: 0;
            z-index: -1; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate1 .dogcloth img {
              width: 27px;
              height: 119px;
              display: block;
              transition: left .3s;
              -moz-animation: left .3s;
              -webkit-transition: left .3s;
              -o-transition: left .3s;
              position: absolute;
              top: 0;
              left: 0; }
    .head_box .top_nav .nav_right {
      overflow: hidden;
      height: 34px; }
      .head_box .top_nav .nav_right li {
        float: left;
        position: relative; }
        .head_box .top_nav .nav_right li .right_nav {
          float: left;
          line-height: 34px;
          font-size: 16px;
          color: #000;
          font-weight: 700;
          padding: 0 20px;
          text-decoration: none;
          height: 34px; }
          .head_box .top_nav .nav_right li .right_nav .logoimg {
            width: 100px;
            position: inherit;
            margin-top: -2px; }
          .head_box .top_nav .nav_right li .right_nav b {
            display: inline-block;
            width: 13px;
            height: 17px;
            background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png") -35px -1280px;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 6px;
            color: #459d36;
            -webkit-transition: -webkit-transform .2s ease-out;
            -moz-transition: -moz-transform .2s ease-out;
            -o-transition: -o-transform .2s ease-out;
            -ms-transition: -ms-transform .2s ease-out; }
          .head_box .top_nav .nav_right li .right_nav b:hover {
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
            -o-transform: rotateZ(360deg);
            -ms-transform: rotateZ(360deg);
            transform: rotateZ(360deg); }
        .head_box .top_nav .nav_right li .right_nav:hover {
          color: #459d36; }

section {
  width: 100%;
  border-top: 2px solid #46ab50;
  background: #fff; }

.section {
  width: 1200px;
  margin: 0 auto;
  height: auto; }

.section1 {
  width: 100%;
  padding: 10px 0; }

.section1 div {
  height: 22px;
  line-height: 22px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #444;
  padding: 0 22px;
  float: left;
  background: #fff;
  position: relative;
  cursor: pointer; }

.section1 div u {
  display: inline-block;
  width: 10px;
  height: 8px;
  background: url(../img/bg2.png) no-repeat;
  background-position: -38px -1258px;
  margin-left: 10px; }

.section1 div .p1-list {
  position: absolute;
  left: 0;
  top: 23px;
  border: 1px solid #ddd;
  width: 129px;
  background: #fff;
  height: auto;
  font-size: 12px;
  color: #444;
  padding: 5px 0;
  text-align: center;
  display: none;
  z-index: 4; }

.section1 div .p1-list a {
  display: block;
  color: #444; }

.section1 div .p1-list a .swim {
  color: #248dcc; }

.section1 div .p1-list a:hover {
  background: #f5f5f5;
  width: 100%; }

.section1 em {
  display: block;
  height: 24px;
  line-height: 24px;
  width: 44px;
  text-align: center;
  float: left;
  color: #444; }

#div2 {
  width: 145px; }

#div3 {
  width: 115px; }

.section2 {
  width: 1200px;
  margin: 0 auto; }

.section2 .sec2-left {
  width: 450px;
  margin-top: 60px;
  float: left; }

.section2 .sec2-left .pic-wrap {
  width: 300px;
  height: 300px;
  padding: 0 75px 20px 75px;
  position: relative; }

.section2 .sec2-left .pic-wrap .pic1 {
  position: absolute;
  left: 75px;
  top: 0;
  display: none; }

.section2 .sec2-left .pic-wrap .pic1 .small {
  width: 300px;
  height: 300px;
  position: relative;
  float: left; }

.section2 .sec2-left .pic-wrap .pic1 .small .frame {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  background-image: url(../img/2f9718bd3aad0cc9f35502dd638eae07jpg);
  background-size: 300px 300px;
  background-repeat: no-repeat; }

.section2 .sec2-left .pic-wrap .pic1 .small .film {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  cursor: move; }

.section2 .sec2-left .pic-wrap .pic1 .small img {
  width: 300px;
  height: 300px; }

.section2 .sec2-left .pic-wrap .pic1 .big {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-left: 395px;
  float: left;
  position: absolute;
  top: 0;
  display: none;
  z-index: 100; }

.section2 .sec2-left .pic-wrap .pic1 .big img {
  width: 900px;
  height: 900px;
  position: absolute;
  left: 0;
  top: 0; }

.section2 .sec2-left .pic-wrap .pic1-a {
  display: block; }

.section2 .sec2-left .btn-wrap {
  width: 389px;
  height: 84px;
  overflow: hidden;
  margin: 10px 60px 0; }

.section2 .sec2-left .btn-wrap img {
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border: 1px solid #ddd; }

.section2 .sec2-left .btn-wrap img:hover {
  border: 1px solid #46ab50; }

.section2 .sec2-left .bh {
  height: 115px;
  line-height: 115px;
  font-size: 12px; }

.section2 .sec2-left .bh span {
  color: #999;
  margin-left: 30px; }

.section2 .sec2-left .bh b {
  color: #444;
  margin-left: 160px;
  background: url(../img/xqico.png) no-repeat left center;
  background-position: -9px -329px;
  padding-left: 15px; }

.section2 .sec2-left .bh i {
  color: #444;
  background: url(../img/xqico.png) no-repeat left center;
  background-position: -9px -360px;
  padding-left: 15px;
  margin-left: 10px; }

.section2 .sec2-left .bh b:hover, .section2 .sec2-left .bh i:hover {
  color: #248dcc; }

.section2 .sec2-right {
  float: left;
  width: 667px;
  padding: 40px;
  margin: 0 0 0 3px;
  background: #fcfcfc; }

.section2 .sec2-right h2 {
  font-size: 18px;
  color: #333;
  height: 50px;
  line-height: 24px;
  font-weight: bold; }

.section2 .sec2-right h3 {
  font-size: 14px;
  color: #e3393c;
  margin-top: 10px; }

.section2 .sec2-right .jq {
  margin-top: 15px;
  font-size: 12px;
  color: #999;
  height: 70px;
  padding: 10px 0 20px 20px;
  background: url(../images/price-bg.jpg) no-repeat center; }

.section2 .sec2-right .jq p {
  font-size: 12px;
  color: #999; }

.section2 .sec2-right .jq p b {
  text-decoration: line-through;
  color: #444;
  margin-left: 5px; }

.section2 .sec2-right .jq p i {
  font-size: 32px;
  font-weight: bold;
  color: #e3393c; }

.section2 .sec2-right .jq p i b {
  color: #e3393c;
  font-size: 18px;
  text-decoration: none; }

.section2 .sec2-right .jq p:nth-child(1) {
  margin-bottom: 10px; }

.section2 .sec2-right .xq {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #999; }

.section2 .sec2-right .xq i {
  color: #e3393c; }

.section2 .sec2-right .xq b {
  margin-right: 5px; }

.section2 .sec2-right .xq strong {
  color: #444; }

.section2 .sec2-right .xq strong u {
  color: #46ab50; }

.section2 .sec2-right .by {
  height: 22px;
  line-height: 22px;
  color: #222;
  padding-bottom: 37px;
  border-bottom: 1px dashed #ddd; }

.section2 .sec2-right .by li {
  float: left;
  height: 25px;
  line-height: 25px;
  border-right: 1px solid #ddd;
  padding-left: 27px;
  padding-right: 15px;
  margin-left: 15px;
  font-size: 12px;
  position: relative; }

.section2 .sec2-right .by li div {
  width: 220px;
  margin-top: 20px;
  border: 1px solid #e5e2e8;
  box-shadow: 0px 1px 8px #e6e6e6;
  padding: 15px 10px;
  display: none;
  position: absolute; }

.section2 .sec2-right .by li div em {
  position: absolute;
  border-width: 8px;
  font-size: 0;
  line-height: 0;
  top: -17px;
  left: 40px;
  border-style: dotted solid solid solid;
  border-color: transparent transparent #ccc transparent; }

.section2 .sec2-right .by li div span {
  position: absolute;
  top: -16px;
  left: 40px;
  border-width: 8px;
  border-style: dotted solid solid solid;
  border-color: transparent transparent #fff transparent; }

.section2 .sec2-right .by li:nth-child(3) {
  border: none;
  background: url(../images/freeshipping.png) no-repeat left center;
  background-size: contain; }

.section2 .sec2-right .by li:nth-child(1) {
  margin-left: 0;
  background: url(../images/qualityassurance.png) no-repeat left center;
  background-size: contain; }

.section2 .sec2-right .by li:nth-child(2) {
  background: url(../images/thirtydays.png) no-repeat left center;
  background-size: contain; }

.section2 .sec2-right .weight {
  height: 68px;
  line-height: 68px;
  font-size: 12px; }

.section2 .sec2-right .weight span {
  color: #999;
  margin-right: 10px; }

.section2 .sec2-right .weight b {
  display: inline-block;
  width: 88px;
  color: #444;
  height: 38px;
  border: 1px solid #f4f4f4;
  text-align: center;
  line-height: 38px;
  margin-right: 5px;
  position: relative; }

.section2 .sec2-right .weight b i {
  position: absolute;
  background: url(../images/goods-select.png) no-repeat center;
  display: inline-block;
  width: 17px;
  height: 15px;
  bottom: 0;
  right: 0;
  display: none; }

.section2 .sec2-right .weight b .ii {
  display: block; }

.section2 .sec2-right .buy {
  height: 68px;
  line-height: 68px;
  font-size: 12px; }

.section2 .sec2-right .buy span {
  color: #999; }

.section2 .sec2-right .buy b {
  display: inline-block;
  color: #444;
  height: 38px;
  border: 1px solid #f4f4f4;
  text-align: center;
  line-height: 38px;
  margin: 0 5px; }

.section2 .sec2-right .buy b i {
  display: inline-block;
  height: 36px;
  width: 18px;
  background: #eee;
  line-height: 36px;
  text-align: center; }

.section2 .sec2-right .buy b u {
  display: inline-block;
  width: 52px;
  height: 36px;
  line-height: 36px; }

.section2 .sec2-right .send {
  height: 55px;
  line-height: 55px;
  font-size: 12px;
  color: #999;
  border-bottom: 1px dashed #ddd; }

.section2 .sec2-right .send span {
  vertical-align: top; }

.section2 .sec2-right .send b {
  display: inline-block;
  padding: 0 5px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ddd;
  color: #444;
  margin-top: 5px;
  cursor: pointer;
  position: relative; }

.section2 .sec2-right .send b em {
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/xqico.png) no-repeat center;
  background-position: 0 -31px; }

.section2 .sec2-right .send b:hover em {
  background: url(../images/xqico.png) no-repeat center;
  background-position: 0 -46px; }

.section2 .fh {
  margin-top: 15px;
  font-size: 12px;
  color: #666;
  margin-bottom: 30px; }

.section2 .sec2-right .fh a {
  color: #444; }

.section2 .sec2-right .fh a:hover {
  color: #248dcc; }

.section2 .sec2-right .gwc {
  width: 188px;
  height: 56px;
  border-radius: 5px;
  background: #78b300;
  font-size: 20px;
  text-align: center;
  line-height: 56px; }

.section2 .sec2-right .gwc a {
  display: block;
  color: #fff; }

.section3 {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px; }

.section3 .section3-top {
  height: 55px;
  line-height: 55px;
  background: #f7f7f7;
  border-bottom: 1px solid #f60; }

.section3 .section3-top p {
  width: 185px;
  text-align: center;
  float: left;
  background: #f60;
  color: #fff; }

.section3 .section3-top span {
  display: block;
  float: right;
  margin-right: 33px;
  color: #f60;
  background: #ffece0;
  height: 44px;
  line-height: 44px;
  width: 280px;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px; }

.section3 .section3-top span i {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: text-bottom;
  background: url(../images/xqico.png) no-repeat;
  background-position: -44px -398px;
  margin-right: 5px;
  margin-left: 20px; }

.section3 .section3-bottom {
  border: 1px solid #ddd;
  border-top: none; }

.section3 .section3-bottom .sec3-bootom-left {
  width: 998px;
  float: left;
  border-right: 1px solid #ddd;
  padding: 28px 0 20px 28px;
  position: relative; }

.section3 .section3-bottom .sec3-bootom-left .sec3-1 {
  float: left;
  width: 150px;
  height: 235px;
  background: #f4f4f4;
  padding: 10px 20px; }

.section3 .section3-bottom .sec3-bootom-left .sec3-1 img {
  width: 110px;
  height: 110px;
  display: block;
  margin-left: 10px; }

.section3 .section3-bottom .sec3-bootom-left .sec3-1 a {
  display: block;
  font-size: 10px;
  color: #444;
  margin-top: 5px; }

.section3 .section3-bottom .sec3-bootom-left .sec3-1 a:hover {
  color: #248dcc; }

.section3 .section3-bottom .sec3-bootom-left .jia {
  width: 75px;
  text-align: center;
  height: 255px;
  line-height: 255px;
  font-size: 21px;
  font-weight: bold;
  color: #dedede;
  float: left; }

.section3 .section3-bottom .sec3-bootom-left .qian {
  margin-top: 10px;
  color: #999;
  font-size: 12px; }

.section3 .section3-bottom .sec3-bootom-left .qian span {
  color: #e3393c;
  font-weight: bold;
  font-size: 14px; }

.section3 .section3-bottom .sec3-bootom-left .sheng {
  color: #e3393c;
  font-weight: bold;
  margin-top: 10px; }

.section3 .section3-bottom .sec3-bootom-left .sheng i {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #e3393c;
  line-height: 20px;
  text-align: center;
  border-radius: 5px; }

.section3 .section3-bottom .sec3-bootom-left button {
  width: 16px;
  height: 70px;
  border: 1px solid #ddd;
  line-height: 70px;
  text-align: center;
  font-size: 23px;
  color: #ddd; }

.section3 .section3-bottom .sec3-bootom-left .left {
  position: absolute;
  left: -33px;
  top: 120px;
  background: #fff; }

.section3 .section3-bottom .sec3-bootom-left .right {
  position: absolute;
  right: 50px;
  top: 120px;
  background: #fff; }

.section3 .section3-bottom .sec3-botton-right {
  float: left;
  padding: 0 15px;
  position: relative; }

.section3 .section3-bottom .sec3-botton-right span {
  display: inline-block;
  width: 132px;
  height: 32px;
  line-height: 29px;
  margin-top: 80px;
  background: url(../images/xqico.png) no-repeat;
  background-position: -61px -568px;
  font-size: 18px;
  color: #fff;
  text-align: center; }

.section3 .section3-bottom .sec3-botton-right p {
  font-size: 12px;
  color: #999;
  margin-top: 10px; }

.section3 .section3-bottom .sec3-botton-right p i {
  color: #e3393c;
  font-size: 18px; }

.section3 .section3-bottom .sec3-botton-right a {
  position: absolute;
  display: block;
  width: 201px;
  color: #fff;
  background: #78b300;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 3px;
  left: 0;
  top: 271px; }

.section4 {
  width: 1200px;
  margin: 0 auto; }

.section4 .cs-left {
  float: left;
  margin-right: 20px;
  position: relative; }

.section4 .cs-left .cs-left-1 {
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
  z-index: 100;
  background: #fff; }

.section4 .cs-left .cs-left-1 img {
  display: block;
  width: 184px;
  height: 150px; }

.section4 .cs-left .cs-left-1 .zan {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  background: url(../images/zan.png) no-repeat -3px -3px;
  margin: 7px 5px 0 5px; }

.section4 .cs-left .cs-left-1 .zheng {
  float: left;
  font-size: 12px;
  color: #444; }

.section4 .cs-left .cs-left-1 .zheng b {
  display: block;
  color: #333;
  font-size: 14px;
  margin-bottom: 15px; }

.section4 .cs-left .cs-left-2 {
  border: 1px solid #ddd; }

.section4 .cs-left .cs-left-2 h3 {
  font-size: 12px;
  color: #222;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  border-bottom: 2px solid #46ab50; }

.section4 .cs-left .cs-left-2 .ph {
  padding: 10px 8px;
  border-bottom: 1px dashed #e3e3e3; }

.section4 .cs-left .cs-left-2 .ph img {
  display: block;
  float: left; }

.section4 .cs-left .cs-left-2 .ph div {
  float: left;
  width: 115px;
  margin-left: 5px; }

.div1:hover .p1-list {
  display: block; }

.div2:hover .p1-list {
  display: block; }

.div3:hover .p1-list {
  display: block; }

.li-cq:hover .region {
  display: block; }

.section4 .cs-left .cs-left-2 .ph div a {
  display: block;
  font-size: 9px;
  color: #222; }

.section4 .cs-left .cs-left-2 .ph div span {
  display: block;
  color: #f60;
  font-weight: bold; }

.section4 .cs-left .cs-left-2 .ph div a:hover {
  color: #248dcc; }

.section4 .cs-left .sc-left-3 {
  height: 100px;
  border: 1px solid #ddd;
  margin-top: 10px; }

.section4 .cs-left .sc-left-3 p {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px; }

.section4 .cs-left .sc-left-3 a {
  display: block;
  color: #fff;
  width: 156px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin: 15px auto 10px;
  background: #78b300;
  border-radius: 5px; }

.section4 .cs-right {
  float: left;
  position: relative; }

.section4 .cs-right ul {
  height: 35px; }

.section4 .cs-right ul li {
  float: left;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  padding: 0 20px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  margin-right: 7px; }

.section4 .cs-right ul li a {
  display: block;
  color: #222; }

.section4 .cs-right .cs-right-2 {
  padding: 20px 48px;
  border: 1px solid #ddd;
  position: absolute;
  display: none; }

.section4 .cs-right .cs-right-2 img {
  display: block; }

.section4 .cs-right .cs-right-3 {
  position: absolute;
  display: none; }

.section4 .cs-right .cs-right-4 {
  position: absolute;
  display: none; }

.section4 .cs-right .cs-right-5 {
  position: absolute;
  display: none; }

.section4 .cs-right .cs-right-6 {
  position: absolute;
  display: none; }

.section4 .cs-right .lists-cs {
  display: block; }

#box3 {
  width: 1326px;
  height: 455px;
  background: #f5f5f5;
  font-size: 12px; }

.end1 {
  width: 1326px;
  height: 100px;
  border-bottom: 1px solid #ddd; }

.end1 ul {
  width: 1228px;
  height: 100px;
  margin: 0 auto; }

.end1 li {
  float: left;
  width: 190px;
  height: 100px;
  position: relative;
  padding-left: 60px;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  font-weight: 900; }

.end1 li:hover {
  transition: all 1s;
  transform: translate(0, -7px); }

.end1 li:hover a {
  color: red;
  transition: all 1s; }

.end1 a {
  color: black; }

.end1 span {
  display: inline-block;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 20px;
  left: 0; }

.end1 li:nth-child(1) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 0; }

.end1 li:nth-child(2) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -81px; }

.end1 li:nth-child(3) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -162px; }

.end1 li:nth-child(4) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -243px; }

.end1 li:nth-child(5) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -324px; }

.end1 li:nth-child(6) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -405px; }

.end2 {
  height: 185px;
  border-bottom: 1px solid #e5e5e5; }

.end2lt {
  width: 388px;
  height: 156px;
  padding-top: 30px;
  float: left; }

.end2lt div {
  float: left;
  color: #666; }

.end2lt div:nth-child(2) {
  margin-left: 31px;
  line-height: 30px; }

.end2lt div:nth-child(2) p {
  font-size: 12px; }

#box3 .minsize {
  font-size: 20px; }

#box3 .minsize span {
  font-size: 12px; }

.end2cen {
  width: 578px;
  height: 186px;
  float: left; }

.end2cen ul {
  float: left;
  margin-right: 84px;
  line-height: 25px; }

.end2cen li:hover a {
  border-bottom: 1px solid red;
  color: red; }

.end2cen p {
  margin: 25px 0; }

.end2rt {
  text-align: center;
  font-size: 12px; }

.end2rt div {
  float: left; }

.end2rt div:nth-child(1) {
  margin-right: 50px; }

.end2rt p:nth-child(1) {
  margin-top: 22px; }

.end2rt img {
  margin-top: 10px; }

.end3 {
  font-size: 12px;
  width: 1150px;
  height: 20px;
  margin: 0 auto; }

.end3 h5 {
  margin: 23px 0;
  color: #999;
  padding-left: 20px;
  font-size: 12px; }
  .end3 h5 a {
    color: #999;
    display: inline-block;
    margin: 0 15px 10px 0; }

.end3 h5 a:hover {
  border-bottom: 1px solid red;
  color: red; }

.end3 div {
  width: 1190px;
  height: 50px;
  padding-left: 37px; }

.end3 img {
  float: left;
  margin-right: 8px; }

.end3 p {
  text-align: center;
  font-size: 12px;
  color: #444; }

.end3 p a:hover {
  border-bottom: 1px solid red;
  color: red; }

#right-nav {
  width: 35px;
  height: 100%;
  background: #444;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20; }

#right-nav .w {
  position: fixed;
  top: 60px;
  right: 0;
  width: 35px;
  height: 84.3%; }

#right-nav-list1 {
  position: relative;
  right: 0;
  top: 0;
  z-index: 20; }

#right-nav-list2 {
  position: relative;
  right: 0;
  bottom: 0;
  z-index: 20; }

#right-nav li a {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box; }

#right-nav-list1 li div {
  z-index: -1;
  font-size: 12px;
  background: #fff;
  color: #fff;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
  transition: all linear .3s;
  display: none; }

#right-nav #right-nav-list1 li:nth-of-type(1) {
  position: relative;
  height: 35px;
  width: 35px;
  margin-bottom: 20px; }

#right-nav-list1 li:nth-of-type(1) a {
  background: url(../images/bar_new.png) no-repeat center;
  background-position: 0 -235px; }

#right-nav li:nth-of-type(1) div {
  position: absolute;
  left: -330px;
  top: 0;
  min-height: 130px;
  line-height: 130px;
  text-align: center;
  width: 326px;
  color: #444;
  display: none; }

#right-nav div .login1 {
  display: inline;
  color: #e84f47;
  text-decoration: underline; }

#right-nav li:hover .login1 {
  background: 0 0; }

#right-nav #right-nav-list1 li:nth-of-type(2) {
  position: relative;
  height: 98px;
  width: 35px;
  margin-bottom: 30px; }

#right-nav-list1 li:nth-of-type(2) a u {
  display: block;
  padding: 0 8px;
  color: #a6a6a6;
  font-size: 12px; }

#right-nav-list1 li:nth-of-type(2) a i {
  display: block;
  height: 30px;
  width: 30px;
  background: url(../images/bar_new.png) no-repeat center;
  background-position: 0 -270px; }

#right-nav-list1 li:nth-of-type(2) a b {
  margin-left: 6px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a6a6a6;
  font-size: 12px;
  line-height: 20px;
  text-align: center; }

#right-nav li:nth-of-type(2) div {
  position: absolute;
  left: -512px;
  top: 0;
  min-height: 84px;
  width: 510px;
  color: #444;
  text-align: center;
  line-height: 84px;
  display: none; }

#right-nav #right-nav-list1 li:nth-of-type(3) {
  position: relative;
  height: 98px;
  width: 35px;
  margin-bottom: 20px; }

#right-nav-list1 li:nth-of-type(3) span {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/bar_new.png) no-repeat center;
  background-position: -2px -617px; }

#right-nav-list1 li:nth-of-type(3) a u {
  display: block;
  padding: 0 8px;
  color: #a6a6a6;
  font-size: 12px; }

#right-nav-list1 li:nth-of-type(4) {
  width: 35px;
  height: 35px;
  margin-bottom: 7px;
  position: relative; }

#right-nav-list1 li:nth-of-type(4) a {
  background: url(../images/bar_new.png) no-repeat center;
  background-position: 0 -305px; }

#right-nav-list1 li:nth-of-type(4) div {
  position: absolute;
  left: -330px;
  top: 0;
  min-height: 130px;
  line-height: 130px;
  text-align: center;
  width: 326px;
  color: #444;
  display: none; }

#right-nav-list1 li:nth-of-type(5) {
  width: 35px;
  height: 35px;
  margin-bottom: 7px;
  position: relative; }

#right-nav-list1 li:nth-of-type(5) a {
  background: url(../img/bar_new.png) no-repeat center;
  background-position: -1px -693px; }

#right-nav-list1 li:nth-of-type(5) div {
  position: absolute;
  left: -433px;
  top: -200px;
  min-height: 313px;
  text-align: center;
  width: 433px;
  color: #444;
  display: none; }

#right-nav-list1 li:nth-of-type(6) {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  position: relative; }

#right-nav-list1 li:nth-of-type(6) a {
  background: url(../images/bar_new.png) no-repeat center;
  background-position: 0 -410px; }

#right-nav-list1 li:nth-of-type(6) div {
  position: absolute;
  left: -165px;
  top: -180px;
  min-height: 213px;
  text-align: center;
  width: 165px;
  color: #444;
  box-shadow: none;
  border: none; }

#right-nav-list1 li:nth-of-type(6) div img {
  display: block;
  border-radius: 5px; }

#right-nav-list1 li:nth-of-type(7) {
  width: 35px;
  height: 35px;
  margin-bottom: 7px;
  position: relative; }

#right-nav-list1 li:nth-of-type(7) a {
  background: url(../images/bar_new.png) no-repeat center;
  background-position: 0 -720px; }

#right-nav-list1 li:nth-of-type(7) div {
  position: absolute;
  left: -188px;
  top: -195px;
  min-height: 228px;
  padding: 16px 15px 16px 19px;
  text-align: center;
  width: 188px;
  color: #444;
  box-shadow: none;
  box-sizing: border-box; }

#right-nav-list1 li:nth-of-type(7) div img {
  display: block;
  margin-bottom: 12px; }

#right-nav-list1 li:nth-of-type(7) em {
  display: block;
  font-size: 11px;
  width: 155px;
  text-align: center;
  margin: 0 auto; }

#right-nav-list1 li:nth-of-type(8) {
  width: 35px;
  height: 35px;
  margin-bottom: 7px;
  position: relative; }

#right-nav-list1 li:nth-of-type(8) a {
  background: url(../images/bar_new.png) no-repeat center;
  background-position: 0 -753px; }

#right-nav-list1 li:nth-of-type(8) div {
  position: absolute;
  left: -200px;
  top: -95px;
  min-height: 129px;
  padding: 25px 38px 25px;
  text-align: center;
  width: 200px;
  color: #444;
  box-shadow: none;
  box-sizing: border-box; }

#right-nav-list1 li:nth-of-type(8) div img {
  display: block;
  margin-bottom: 6px;
  margin-left: 35px; }

#right-nav-list1 li:nth-of-type(8) .login2 {
  display: block;
  margin: 0 auto;
  color: #e84f47;
  font-size: 16px;
  text-decoration: underline;
  background: 0 0; }

#right-nav-list1 li:nth-of-type(8) em {
  display: block;
  font-size: 11px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  margin: 5px auto 0; }

#right-nav-list2 li {
  width: 35px;
  height: 35px;
  position: relative; }

#right-nav-list2 li a {
  background: url(../images/bar_new.png) no-repeat center;
  background-position: 0 -521px; }

#right-nav #right-nav-list2 li div {
  position: absolute;
  left: -115px;
  bottom: 0;
  min-height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  width: 100px;
  background: #f28318;
  display: block;
  box-shadow: none;
  transition: .8s;
  opacity: 0; }

#right-nav-list1 li:hover div {
  display: block; }

#right-nav #right-nav-list2 li:hover div {
  transform: translateX(15px);
  opacity: 1; }

#right-nav li:hover {
  background-color: #5f5f5f; }

#right-nav-list3 {
  position: fixed;
  bottom: 0;
  right: 35px;
  width: 115px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #f97070;
  font-size: 13px;
  border-radius: 5px 5px 0 0;
  z-index: 999;
  overflow: hidden; }

#right-nav-list3 a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  background: url(../images/6.png) no-repeat left center;
  background-size: contain; }
