@charset "UTF-8";
* {
  word-wrap: break-word; }

body {
  min-width: 1200px;
  margin: 0 auto;
  font: 12px 'Microsoft Yahei',Tahoma,Simsun; }

a {
  color: #444; }

header {
  height: 28px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 9; }
  header .h_box_left {
    display: inline-block; }
    header .h_box_left p {
      float: left;
      padding: 0 5px;
      line-height: 28px;
      font-size: 12px; }
      header .h_box_left p a:hover {
        color: #248DCC; }
      header .h_box_left p .h_icon1 {
        display: inline-block;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/epetbrand.png") left 0 top 8PX no-repeat;
        height: 28px;
        text-indent: 16px; }
      header .h_box_left p .plase_send {
        line-height: 28px;
        margin-left: 5px; }
      header .h_box_left p .epetbrand {
        display: inline-block;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg.png") -9px -425px no-repeat;
        height: 28px;
        text-indent: 19px; }
      header .h_box_left p .epetbrand:hover {
        color: #F60; }
      header .h_box_left p .evaluate_num {
        color: #F60; }
  header .place {
    float: left;
    position: relative; }
    header .place .place_show {
      position: relative;
      display: block; }
      header .place .place_show:hover .placebox {
        display: block; }
      header .place .place_show:hover .h_icon2 {
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/xqico.png") 0 -46px no-repeat;
        display: block;
        top: 11px;
        right: 5px;
        width: 15px;
        height: 15px;
        position: absolute; }
      header .place .place_show .myplace {
        font-size: 12px;
        padding: 0 20px 0 5px;
        line-height: 28px;
        width: auto;
        cursor: pointer;
        color: #666; }
      header .place .place_show .h_icon2 {
        width: 15px;
        height: 15px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/xqico.png") 0 -31px no-repeat;
        position: absolute;
        top: 9px;
        left: 30px;
        display: inline-block; }
      header .place .place_show .placebox {
        display: none;
        margin-top: -2px;
        position: absolute;
        font-size: 14px;
        z-index: 99;
        top: 30px;
        left: 0;
        background: transparent;
        line-height: 15px;
        min-height: 270px; }
        header .place .place_show .placebox .placebox_list {
          width: 400px;
          display: inline-block;
          border: 1px solid #ddd;
          padding: 5px 5px 15px;
          position: relative;
          background: #fff; }
          header .place .place_show .placebox .placebox_list .place_title {
            width: 100%;
            height: 25px;
            display: inline-block;
            border-bottom: 1px solid #ddd;
            color: black; }
            header .place .place_show .placebox .placebox_list .place_title li {
              border-right: 1px solid #ddd;
              border-left: 1px solid #ddd;
              border-top: 1px solid #ddd;
              display: inline-block;
              line-height: 24px;
              font-size: 12px;
              color: #888;
              width: 70px;
              text-align: center;
              cursor: pointer;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              background: #f6f6f6; }
            header .place .place_show .placebox .placebox_list .place_title .active {
              background: #fff; }
          header .place .place_show .placebox .placebox_list .palce_content {
            margin-top: 5px;
            color: #666; }
            header .place .place_show .placebox .placebox_list .palce_content .placesites {
              padding: 10px 10px 5px 10px; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites span {
                color: #999;
                border-right: 1px dotted #e8e8e8;
                padding-right: 3px; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites a {
                padding: 2px 10px;
                color: #666; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites .placesite1 {
                background: #fb6003;
                color: #fff; }
              header .place .place_show .placebox .placebox_list .palce_content .placesites a:hover {
                background: #fb6003;
                color: #fff; }
            header .place .place_show .placebox .placebox_list .palce_content .hide {
              display: none; }
              header .place .place_show .placebox .placebox_list .palce_content .hide a {
                display: inline-block;
                margin-top: 5px;
                padding: 2px 10px;
                color: #666; }
              header .place .place_show .placebox .placebox_list .palce_content .hide a:hover {
                color: #fff; }

.h_box {
  width: 1200px;
  margin: 0 auto; }

.h_box_right {
  padding-top: 1px;
  float: right;
  font-size: 12px; }
  .h_box_right li {
    color: #444;
    float: left;
    padding: 0 5px;
    height: 26px;
    position: relative;
    line-height: 25px;
    z-index: 10;
    border: 1px solid #F5F5F5;
    border-bottom: 0; }
    .h_box_right li:hover .login, .h_box_right li:hover .register, .h_box_right li:hover .shopingcar, .h_box_right li:hover .question, .h_box_right li:hover .mobile {
      color: #248DCC; }
    .h_box_right li i {
      background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg.png");
      background-repeat: no-repeat; }
    .h_box_right li i {
      width: 13px;
      height: 13px;
      background-position: -312px -46px;
      background-repeat: no-repeat;
      margin-top: 6px;
      margin-right: 5px;
      float: left; }
    .h_box_right li .car_icon {
      background-position: -291px -46px;
      width: 14px;
      height: 14px;
      margin-top: 6px;
      margin-right: 5px;
      float: left; }
    .h_box_right li .number {
      color: red; }
    .h_box_right li .mypet {
      position: relative;
      padding-right: 14px;
      cursor: pointer;
      float: left;
      display: block; }
      .h_box_right li .mypet b {
        display: block;
        width: 0;
        height: 0;
        border: transparent solid 4px;
        border-top: #717171 solid 4px;
        position: absolute;
        right: 0;
        top: 10px;
        overflow: hidden; }
    .h_box_right li .mypetbox {
      border: 1px solid #ddd;
      border-top: 0;
      position: absolute;
      left: -1px;
      top: 26px;
      float: left;
      padding: 5px 10px;
      display: none;
      background-color: #FFF; }
      .h_box_right li .mypetbox a {
        line-height: 14px;
        padding: 0 10px;
        width: 80px;
        margin: 5px 0;
        background-position: 0 -260px;
        display: block; }
    .h_box_right li .collect {
      position: relative;
      padding-right: 14px;
      cursor: pointer;
      display: block;
      color: #444; }
      .h_box_right li .collect i {
        background-position: -353px -46px;
        width: 15px;
        margin-right: 4px; }
      .h_box_right li .collect b {
        display: block;
        width: 0;
        height: 0;
        border: transparent solid 4px;
        border-top: #717171 solid 4px;
        position: absolute;
        right: 0;
        top: 10px;
        overflow: hidden; }
    .h_box_right li .collectbox {
      border: 1px solid #ddd;
      border-top: 0;
      position: absolute;
      left: -1px;
      top: 26px;
      float: left;
      padding: 5px 10px;
      display: none;
      background-color: #FFF; }
      .h_box_right li .collectbox a {
        line-height: 14px;
        padding: 0 10px;
        width: 70px;
        margin: 5px 0;
        background-position: 0 -260px;
        display: block; }
    .h_box_right li .question {
      color: red; }
  .h_box_right .petknow:hover .mypetbox {
    display: block; }
  .h_box_right .petknow:hover b {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    -webkit-transform-origin: 50% 25%;
    -o-transform-origin: 50% 25%;
    -ms-transform-origin: 50% 25%;
    -moz-transform-origin: 50% 255%;
    transform-origin: 50% 25%; }
  .h_box_right .petknow .myepet:hover {
    color: #248DCC; }
  .h_box_right .petknow .mypet_tit1:hover, .h_box_right .petknow .mypet_tit2:hover, .h_box_right .petknow .mypet_tit3:hover, .h_box_right .petknow .mypet_tit4:hover, .h_box_right .petknow .mypet_tit5:hover {
    color: #248DCC; }
  .h_box_right .collcetion:hover .collectbox {
    display: block; }
  .h_box_right .collcetion:hover b {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    -webkit-transform-origin: 50% 25%;
    -o-transform-origin: 50% 25%;
    -ms-transform-origin: 50% 25%;
    -moz-transform-origin: 50% 255%;
    transform-origin: 50% 25%; }
  .h_box_right .collcetion .collect_tit:hover {
    color: #248DCC; }
  .h_box_right .collcetion:hover {
    display: block; }
  .h_box_right .mobileApp i {
    background-position: -334px -46px; }
  .h_box_right .mobileApp img {
    display: none;
    width: 80px;
    position: absolute;
    left: 0;
    top: 25px;
    margin-top: -2px; }
  .h_box_right .mobileApp:hover img {
    display: block; }

.head_box {
  width: 1200px;
  margin: 0 auto; }
  .head_box img {
    width: 1200px;
    margin: 0 auto;
    display: block; }
  .head_box .top_search {
    padding-top: 10px;
    font-size: 12px;
    height: 100px;
    display: block; }
    .head_box .top_search .logo {
      float: left;
      height: 94px;
      width: 268px;
      position: relative; }
      .head_box .top_search .logo .dog_logo {
        display: inline-block;
        width: 268px;
        height: 94px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/epet-logo.png") 0 -12px no-repeat;
        margin-top: 7px; }
    .head_box .top_search .search {
      margin: 23px 0 0 33px;
      float: left; }
      .head_box .top_search .search .searchworld {
        border: #459d36 solid 2px;
        background: 0 0;
        padding: 0 5px 0 15px;
        width: 382px;
        height: 30px;
        outline: 0;
        line-height: 30px;
        font-size: 14px;
        float: left; }
      .head_box .top_search .search .searchbtn {
        border: 0;
        width: 73px;
        height: 30px;
        vertical-align: top;
        cursor: pointer;
        background-color: #459d36;
        color: #FFF;
        font-size: 14px; }
    .head_box .top_search .keywords {
      margin: 10px 0;
      width: 498px;
      height: 17px;
      overflow: hidden; }
      .head_box .top_search .keywords label {
        float: left;
        white-space: nowrap;
        color: #999; }
      .head_box .top_search .keywords a {
        display: inline;
        white-space: nowrap;
        color: #999; }
      .head_box .top_search .keywords span {
        color: #999;
        margin: 0 10px; }
      .head_box .top_search .keywords .cred {
        color: red; }
    .head_box .top_search .go_buy {
      margin: 23px 0 0;
      width: 130px;
      height: 39px;
      text-align: center;
      text-indent: 2em;
      background: url("https://static.epetbar.com/static_web/pc/dist/images/background/shopping-cart.gif") no-repeat;
      float: right; }
      .head_box .top_search .go_buy .buy_car {
        line-height: 39px;
        color: #666; }
        .head_box .top_search .go_buy .buy_car .buy_num {
          display: inline-block;
          vertical-align: middle;
          margin-top: -4px;
          color: #f40;
          text-indent: 0;
          margin-left: 2px; }
  .head_box .top_nav {
    padding-top: 10px;
    height: 44px;
    border-bottom: #357e34 solid 2px; }
    .head_box .top_nav .dognav_list {
      position: relative; }
      .head_box .top_nav .dognav_list .nav_left {
        position: relative;
        float: left;
        width: 288px; }
        .head_box .top_nav .dognav_list .nav_left .nav_left_title {
          height: 34px;
          line-height: 32px;
          color: #FFF;
          font-size: 16px;
          text-align: center; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title span {
            float: left;
            width: 112px;
            height: 32px;
            text-align: center;
            border: 1px solid #e1e1e1;
            color: #666;
            cursor: pointer; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title span b {
              display: inline-block;
              vertical-align: middle;
              margin-top: -2px;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png") no-repeat;
              margin-left: 5px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1 {
            position: relative; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1:hover .cate1 {
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
              background-position: 0 -1257px; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title1 .cate1 {
              width: 16px;
              height: 13px;
              background-position: -17px -1257px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2 {
            color: #888; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2:hover .cate2 {
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
              color: #fff;
              background-position: 0 -1276px; }
            .head_box .top_nav .dognav_list .nav_left .nav_left_title .left_title2 .cate2 {
              background-position: -17px -1276px;
              width: 13px;
              height: 7px; }
          .head_box .top_nav .dognav_list .nav_left .nav_left_title .changecolor {
            background-color: #22990d;
            border: 1px solid #46ab50; }
      .head_box .top_nav .dognav_list .dog_nav {
        width: 228px;
        position: absolute;
        top: 34px;
        left: 0;
        border-top: 2px solid #FFF; }
        .head_box .top_nav .dognav_list .dog_nav .doglist {
          height: 358px;
          position: relative;
          display: none; }
          .head_box .top_nav .dognav_list .dog_nav .doglist ul {
            overflow: hidden;
            background: #fff; }
            .head_box .top_nav .dognav_list .dog_nav .doglist ul li {
              height: 51px;
              display: block;
              width: 100%;
              float: left;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/menuLine1.png") 50% bottom no-repeat; }
              .head_box .top_nav .dognav_list .dog_nav .doglist ul li h3 {
                background-position: right -1206px;
                background-repeat: no-repeat;
                padding-left: 16px;
                font-weight: 400;
                height: 50px;
                line-height: 50px;
                background-color: #fcfcfc;
                background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png?v=0128"); }
                .head_box .top_nav .dognav_list .dog_nav .doglist ul li h3 a {
                  font-size: 14px;
                  display: inline-block;
                  width: 88px;
                  overflow: hidden;
                  height: 50px; }
                  .head_box .top_nav .dognav_list .dog_nav .doglist ul li h3 a i {
                    display: inline-block;
                    color: #999;
                    width: 40px;
                    font-size: 12px;
                    margin-left: 4px; }
          .head_box .top_nav .dognav_list .dog_nav .doglist .pet-active {
            height: 52px;
            line-height: 52px;
            background: #fff;
            color: #22990d;
            text-indent: 20px;
            font-size: 14px; }
            .head_box .top_nav .dognav_list .dog_nav .doglist .pet-active img {
              vertical-align: middle;
              margin-top: -3px;
              margin-right: 5px;
              width: 17px;
              height: 22px;
              display: inline-block; }
            .head_box .top_nav .dognav_list .dog_nav .doglist .pet-active a {
              height: 24px;
              padding: 0 9px;
              border-radius: 8px;
              background: #fb6003;
              color: #fff;
              margin-left: 10px; }
        .head_box .top_nav .dognav_list .dog_nav .pet-cate {
          height: 358px;
          overflow: hidden; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate dd {
            height: 119px;
            text-align: center;
            background: #fff; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate dd a span {
              display: inline-block;
              width: 60px;
              height: 60px;
              margin-top: 27px;
              background: url("https://static.epetbar.com/static_web/pc/dist/images/background/new_petcate.png"); }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate dd > span {
            display: inline-block;
            width: 110px;
            height: 60px;
            margin-left: 8px;
            margin-top: 27px;
            vertical-align: top; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate dd > span p {
              line-height: 24px;
              padding-bottom: 4px;
              color: #333;
              font-size: 12px; }
              .head_box .top_nav .dognav_list .dog_nav .pet-cate dd > span p .cstress {
                color: #f03e3e; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate dd > span .c999 {
              color: #999;
              font-size: 12px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .dognow {
            background-color: #f5f5f5;
            border-bottom: 0; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .dognow span {
              background-position: 0 -180px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-mm {
            border-bottom: 1px dashed #ccc; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-mm span {
              background-position: 0 -60px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-mm:hover .cat-shatype img {
              left: -25px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-mm .p-link {
              border: 1px solid #e74085;
              color: #e74085; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-mm .cat-shatype {
              background: 0 0;
              width: 27px;
              position: absolute;
              top: 119px;
              left: 0;
              z-index: -1; }
              .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-mm .cat-shatype img {
                width: 27px;
                height: 119px;
                display: block;
                transition: left .3s;
                -moz-animation: left .3s;
                -webkit-transition: left .3s;
                -o-transition: left .3s;
                position: absolute;
                top: 0;
                left: 0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-fish span {
            background-position: 0 -120px; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-fish span .p-link {
              border: 1px solid #059ee0;
              color: #059ee0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-fish .fish-fishtanktype {
            background: 0 0;
            width: 27px;
            position: absolute;
            top: 238px;
            left: 0;
            z-index: -1; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-fish .fish-fishtanktype img {
              width: 27px;
              height: 119px;
              display: block;
              transition: left .3s;
              -moz-animation: left .3s;
              -webkit-transition: left .3s;
              -o-transition: left .3s;
              position: absolute;
              top: 0;
              left: 0; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-fish:hover .fish-fishtanktype img {
            left: -25px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-ph:hover .dogcloth img {
            left: -25px; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .p-link {
            border: 1px solid #aeaeae;
            color: #aeaeae;
            display: inline-block;
            font-size: 12px;
            width: 108px;
            height: 28px;
            line-height: 30px;
            text-align: center; }
          .head_box .top_nav .dognav_list .dog_nav .pet-cate .dogcloth {
            background: 0 0;
            position: absolute;
            width: 27px;
            top: 0;
            left: 0;
            z-index: -1; }
            .head_box .top_nav .dognav_list .dog_nav .pet-cate .dogcloth img {
              width: 27px;
              height: 119px;
              display: block;
              transition: left .3s;
              -moz-animation: left .3s;
              -webkit-transition: left .3s;
              -o-transition: left .3s;
              position: absolute;
              top: 0;
              left: 0; }
    .head_box .top_nav .nav_right {
      overflow: hidden;
      height: 34px; }
      .head_box .top_nav .nav_right li {
        float: left;
        position: relative; }
        .head_box .top_nav .nav_right li .right_nav {
          float: left;
          line-height: 34px;
          font-size: 16px;
          color: #000;
          font-weight: 700;
          padding: 0 20px;
          text-decoration: none;
          height: 34px; }
          .head_box .top_nav .nav_right li .right_nav .logoimg {
            width: 100px;
            position: inherit;
            margin-top: -2px; }
          .head_box .top_nav .nav_right li .right_nav b {
            display: inline-block;
            width: 13px;
            height: 17px;
            background: url("https://static.epetbar.com/static_web/pc/dist/images/background/bg2.png") -35px -1280px;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 6px;
            color: #459d36;
            -webkit-transition: -webkit-transform .2s ease-out;
            -moz-transition: -moz-transform .2s ease-out;
            -o-transition: -o-transform .2s ease-out;
            -ms-transition: -ms-transform .2s ease-out; }
          .head_box .top_nav .nav_right li .right_nav b:hover {
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
            -o-transform: rotateZ(360deg);
            -ms-transform: rotateZ(360deg);
            transform: rotateZ(360deg); }
        .head_box .top_nav .nav_right li .right_nav:hover {
          color: #459d36; }

/*轮播图banner*/
#box2 {
  width: 100%;
  height: 360px;
  background: #52b663; }

.banner_box {
  height: 360px; }

.banner {
  float: left;
  width: 770px;
  height: 360px;
  position: relative;
  overflow: hidden;
  margin-left: 306px; }

.banner1 {
  width: 4620px;
  height: 360px;
  position: absolute; }

.banner1 li {
  width: 770px;
  height: 360px;
  float: left; }

.banner1 img {
  width: 770px;
  height: 360px; }

.banner2 {
  position: absolute;
  bottom: 0;
  left: 330px;
  z-index: 200; }

.banner2 li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #999;
  color: white;
  margin: 3px;
  text-align: center;
  line-height: 20px;
  cursor: pointer; }

.banner2 .active {
  background: white;
  color: black; }

.white {
  background: white !important;
  color: black !important; }

/*轮播图右*/
.banright {
  float: left;
  width: 200px;
  height: 360px;
  background: white; }

.banright li {
  height: 119px;
  overflow: hidden;
  border-bottom: 1px dashed #ddd; }

.banright li:nth-child(3) {
  border: none; }

.banright li:hover img {
  transition: all 0.5s;
  transform: translate(-10px, 0); }

.renew {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  /*内容部分*/ }
  .renew .day-surpice {
    margin-top: 30px; }
    .renew .day-surpice .count-down-new {
      width: 328px;
      height: 460px;
      background: url("https://static.epetbar.com/static_web/pc/dist/images/background/everydayBgNew2.png") no-repeat;
      background-size: 100% 100%;
      float: left;
      position: relative; }
      .renew .day-surpice .count-down-new .jXZImg {
        height: 23px;
        width: 63px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/jxz.png") center no-repeat;
        background-size: 100%;
        float: right; }
      .renew .day-surpice .count-down-new .newTime {
        margin: -10px 0 0 109px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/clock.png") left center no-repeat;
        background-size: 24px 26px;
        padding-left: 26px; }
        .renew .day-surpice .count-down-new .newTime span {
          font-weight: 700;
          font-size: 30px;
          color: #fff; }
      .renew .day-surpice .count-down-new .down-app-tip {
        width: 154px;
        height: 41px;
        background: url("https://static.epetbar.com/static_web/pc/dist/images/background/downappbg.png") no-repeat;
        left: 42px;
        top: 368px;
        line-height: 35px;
        z-index: 10;
        font-size: 12px;
        color: #fff;
        position: absolute;
        text-align: center; }
      .renew .day-surpice .count-down-new .new-comment {
        width: 280px;
        left: 24px;
        bottom: -203px;
        height: 32px;
        overflow: hidden;
        border-radius: 32px;
        background: #ff7188;
        position: absolute; }
        .renew .day-surpice .count-down-new .new-comment .comment_container {
          position: absolute;
          top: 0; }
          .renew .day-surpice .count-down-new .new-comment .comment_container .roller {
            width: 280px;
            height: 32px;
            color: #fff;
            font-size: 12px;
            line-height: 32px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
            .renew .day-surpice .count-down-new .new-comment .comment_container .roller .headImg {
              float: left;
              margin-top: 3.5px;
              width: 25px;
              height: 25px;
              overflow: hidden;
              border-radius: 50%;
              margin-right: 5px; }
              .renew .day-surpice .count-down-new .new-comment .comment_container .roller .headImg img {
                width: 100%;
                vertical-align: top;
                height: 100%; }
      .renew .day-surpice .count-down-new .fQYJS {
        padding-top: 186px;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
        text-align: center; }
      .renew .day-surpice .count-down-new .dib {
        display: inline-block;
        *display: inline;
        *zoom: 1; }
    .renew .day-surpice .surprise-con {
      margin-bottom: 20px;
      width: 871px;
      height: 458px;
      border-left: 0;
      border: 1px solid #e7e7e7;
      float: right; }
      .renew .day-surpice .surprise-con .anli {
        margin-left: 15px; }
        .renew .day-surpice .surprise-con .anli .time-proconli {
          height: 364px; }
          .renew .day-surpice .surprise-con .anli .time-proconli .time-procon {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0; }
            .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li {
              width: 211px;
              float: left; }
              .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .cut1 {
                font-weight: 500;
                color: #fff;
                font-size: 14px;
                float: left;
                margin-top: 5px;
                margin-left: 12px;
                box-sizing: border-box;
                padding-top: 29px;
                text-align: center;
                height: 55px;
                width: 55px;
                background: url("https://static.epetbar.com/static_web/pc/dist/images/background/cut1.png") center no-repeat;
                background-size: 100%; }
              .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .fQLS {
                font-weight: 500;
                color: #fff;
                font-size: 14px;
                float: left;
                margin-top: 5px;
                margin-left: 12px;
                box-sizing: border-box;
                padding-top: 29px;
                text-align: center;
                height: 55px;
                width: 55px;
                background: url("https://static.epetbar.com/static_web/pc/dist/images/background/fqls.png") center no-repeat;
                background-size: 100%; }
              .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m {
                margin: 18px 20px 20px; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .novip {
                  height: 29px; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mt, .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mtop10 {
                  margin-top: 10px; }
                  .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mt .rush-buy, .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mtop10 .rush-buy {
                    color: #fff;
                    background: #cdcdcd;
                    width: 120px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 30px;
                    cursor: pointer;
                    display: inline-block; }
                  .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mt .jijiang-buy, .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mtop10 .jijiang-buy {
                    background: #4ace83; }
                  .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mt .ft14, .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .mtop10 .ft14 {
                    font-size: 14px; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .ftc {
                  text-align: center; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .surprise-img {
                  width: 155px;
                  height: 154px; }
                  .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .surprise-img img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    -webkit-transition: all .5s ease;
                    transition: all .5s ease;
                    border: 1px solid #fff; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .sale-label-box {
                  height: 24px;
                  padding-top: 10px; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .surprise-m .goodsDes {
                  height: 30px;
                  margin-top: 28px;
                  font-size: 12px;
                  line-height: 1.2;
                  overflow: hidden;
                  text-align: left;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2; }
              .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .cdd {
                color: #dd2727; }
              .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .mt5 {
                margin-top: 5px; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .mt5 .ft20 {
                  font-size: 20px; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .mt5 .ml5 {
                  margin-left: 5px; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .mt5 .c999 {
                  color: #999; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .mt5 .through {
                  text-decoration: line-through; }
                .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .mt5 .onlyhave {
                  position: absolute;
                  top: 50%;
                  margin-top: -6px;
                  right: 0;
                  color: #b8b8b8; }
              .renew .day-surpice .surprise-con .anli .time-proconli .time-procon li .ft12 {
                font-size: 12px; }
            .renew .day-surpice .surprise-con .anli .time-proconli .time-procon .large {
              font-size: 16px;
              color: #666; }
        .renew .day-surpice .surprise-con .anli .overflow {
          overflow: hidden; }
      .renew .day-surpice .surprise-con .rela, .renew .day-surpice .surprise-con .rel {
        position: relative; }
        .renew .day-surpice .surprise-con .rela .anlimenu, .renew .day-surpice .surprise-con .rel .anlimenu {
          height: 66px;
          border-bottom: 1px dashed #e7e7e7;
          margin: 0 20px; }
          .renew .day-surpice .surprise-con .rela .anlimenu .time-menu, .renew .day-surpice .surprise-con .rel .anlimenu .time-menu {
            height: 66px;
            margin: 0 10px;
            position: relative;
            overflow: hidden; }
            .renew .day-surpice .surprise-con .rela .anlimenu .time-menu .menubox, .renew .day-surpice .surprise-con .rel .anlimenu .time-menu .menubox {
              overflow: hidden;
              position: absolute;
              top: 0;
              left: 0;
              margin-left: 25px; }
              .renew .day-surpice .surprise-con .rela .anlimenu .time-menu .menubox li, .renew .day-surpice .surprise-con .rel .anlimenu .time-menu .menubox li {
                width: 119px;
                height: 45px;
                color: #000;
                padding: 18px 0 3px;
                cursor: pointer;
                float: left; }
                .renew .day-surpice .surprise-con .rela .anlimenu .time-menu .menubox li .ftc, .renew .day-surpice .surprise-con .rel .anlimenu .time-menu .menubox li .ftc {
                  display: inline-block;
                  position: relative;
                  text-align: center;
                  font-size: 12px; }
        .renew .day-surpice .surprise-con .rela .timeleft, .renew .day-surpice .surprise-con .rel .timeleft {
          width: 20px;
          height: 30px;
          position: absolute;
          top: 22px;
          left: 20px;
          z-index: 550;
          display: inline-block;
          background-position: -76px -16px; }
        .renew .day-surpice .surprise-con .rela .index-ico, .renew .day-surpice .surprise-con .rel .index-ico {
          background-image: url("https://static.epetbar.com/static_web/pc/dist/images/background/index-ico.png");
          background-repeat: no-repeat; }
        .renew .day-surpice .surprise-con .rela .timeright, .renew .day-surpice .surprise-con .rel .timeright {
          width: 20px;
          height: 30px;
          background-position: -57px -16px;
          position: absolute;
          top: 22px;
          right: 20px;
          z-index: 30;
          display: inline-block; }
  .renew .body2 {
    height: 579px;
    margin-top: 50px;
    font-size: 12px; }
  .renew .bd1head {
    width: 1200px;
    height: 35px; }
  .renew .bd1head h2 {
    width: 300px;
    height: 30px;
    font-weight: 200;
    float: left;
    line-height: 30px; }
  .renew .bd1head h2 span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("https://static.epetbar.com/static_web/pc/dist/images/background/cateicon/cate_5.png") no-repeat; }
  .renew .bd1head ul {
    position: relative;
    z-index: 999;
    height: 35px;
    float: right; }
  .renew .bd1head li {
    width: 90px;
    height: 33px;
    line-height: 35px;
    float: left; }
  .renew .bd1head li:nth-child(1) {
    width: 61px; }
  .renew .bd1head a {
    border-right: 1px solid #ddd;
    padding: 0 16px; }
  .renew .bd1head li:last-of-type a {
    border: none; }
  .renew .bd1headli {
    border: 1px solid red;
    border-bottom: none;
    border-top: 3px solid red;
    margin-left: -2px;
    background: white; }
  .renew .bd1body {
    height: 477px; }
  .renew .bd1body1 {
    width: 328px;
    height: 477px;
    position: relative;
    border-top: none;
    float: left; }
  .renew .bd1body1 > a img {
    width: 328px;
    height: 477px; }
  .renew .bd1body1 ul {
    width: 328px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    padding-left: 13px;
    padding-top: 28px; }
  .renew #icon1 span {
    background: url("https://static.epetbar.com/static_web/pc/dist/images/background/cateicon/cate_5.png") no-repeat; }
  .renew #icon2 span {
    background: url("https://static.epetbar.com/static_web/pc/dist/images/background/cateicon/cate_49.png") no-repeat; }
  .renew #icon3 span {
    background: url("https://static.epetbar.com/static_web/pc/dist/images/background/cateicon/cate_6.png") no-repeat; }
  .renew #icon4 span {
    background: url("https://static.epetbar.com/static_web/pc/dist/images/background/cateicon/cate_54.png") no-repeat; }
  .renew #icon5 span {
    background: url("https://static.epetbar.com/static_web/pc/dist/images/background/cateicon/cate_55.png") no-repeat; }
  .renew .bd1body1 li {
    float: left;
    width: 85px;
    height: 24px;
    border-radius: 10px;
    background: white;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 24px;
    color: #333; }
  .renew .bd1body1 > ul a:hover {
    color: blue; }
  .renew .bd1body2 {
    width: 872px;
    height: 477px;
    float: left; }
  .renew .bd1body2 > ul {
    width: 872px;
    position: absolute;
    border-top: 1px solid red;
    display: none;
    z-index: 3; }
  .renew .bd1body2 > div {
    width: 872px;
    height: 476px;
    position: absolute;
    border-top: 1px solid red;
    display: none;
    background: white; }
  .renew .bd1body2 ul img:hover {
    transition: all 0.5s;
    transform: translate(0, -7px); }
  .renew .bd1hot {
    display: none; }
  .renew .bd1hot .bd1hot_top > div:nth-child(1) {
    width: 389px;
    height: 299px;
    float: left;
    position: relative;
    background: white;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden; }
  .renew .bd1hot .bd1hot_top > div:nth-child(1) img {
    width: 389px;
    height: 299px;
    margin: 0; }
  .renew .bd1hot_top > div:nth-child(1) span {
    position: absolute;
    left: 25px;
    top: 30px;
    z-index: 1; }
  .renew .bd1hot > div p:nth-child(1) {
    font-size: 16px; }
  .renew .bd1hot > div p:nth-child(2) {
    color: red;
    font-size: 14px; }
  .renew .bd1hot_top {
    width: 871px;
    height: 300px;
    background: white; }
  .renew .bd1hot_top > div:nth-child(2) {
    width: 480px;
    float: left;
    background: white;
    overflow: hidden;
    border-right: 1px solid #ddd; }
  .renew .bd1hot .bd1hot_top > div:nth-child(2) img {
    width: 479px;
    height: 149px;
    margin: 0; }
  .renew .bd1hot_top > div:nth-child(2) > div {
    width: 482px;
    height: 149px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: white; }
  .renew .bd1hot_top > div:nth-child(2) > div:nth-child(1) {
    position: relative; }
  .renew .bd1hot_top > div:nth-child(2) > div:nth-child(2) {
    position: relative; }
  .renew .bd1hot_top > div:nth-child(2) > div span {
    position: absolute;
    left: 50px;
    top: 30px;
    z-index: 1; }
  .renew .bd1hot_foot {
    width: 873px;
    height: 176px;
    background: white; }
  .renew .bd1hot .bd1hot_foot img {
    width: 289px;
    height: 176px;
    margin: 0; }
  .renew .bd1hot_foot > div {
    float: left;
    overflow: hidden;
    background: #f9f9f9; }
  .renew .bd1hot_foot > div {
    width: 290px;
    height: 176px;
    border-right: 1px solid #ddd;
    position: relative; }
  .renew .bd1hot_foot > div > span {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 1; }
  .renew .bd1body2 .bd1hot img:hover {
    transition: all 0.5s;
    transform: translate(-7px, 0px); }
  .renew .bd1body2ul {
    display: block !important; }
  .renew .bd1heada {
    border: none !important; }
  .renew .bd1body2 li {
    width: 218px;
    height: 238px;
    float: left;
    padding: 9px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; }
  .renew .bd1body2 ul {
    background: white; }
  .renew .bd1body2 ul img {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 138px;
    height: 138px; }
  .renew .bd1body2 p {
    font-size: 12px;
    margin-bottom: 5px; }
  .renew .bd1body2 em {
    font-size: 16px;
    color: red; }
  .renew .bd1foot {
    width: 1200px;
    height: 67px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .renew .bd1foot li {
    height: 57px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px; }

#box3 {
  width: 1326px;
  height: 455px;
  background: #f5f5f5;
  margin-top: 30px;
  font-size: 12px; }

.end1 {
  width: 1326px;
  height: 100px;
  border-bottom: 1px solid #ddd; }

.end1 ul {
  width: 1228px;
  height: 100px;
  margin: 0 auto; }

.end1 li {
  float: left;
  width: 190px;
  height: 100px;
  position: relative;
  padding-left: 60px;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  font-weight: 900; }

.end1 li:hover {
  transition: all 1s;
  transform: translate(0, -7px); }

.end1 li:hover a {
  color: red;
  transition: all 1s; }

.end1 a {
  color: black; }

.end1 span {
  display: inline-block;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 20px;
  left: 0; }

.end1 li:nth-child(1) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 0; }

.end1 li:nth-child(2) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -81px; }

.end1 li:nth-child(3) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -162px; }

.end1 li:nth-child(4) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -243px; }

.end1 li:nth-child(5) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -324px; }

.end1 li:nth-child(6) span {
  background: url("https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png") no-repeat 0 -405px; }

.end2 {
  height: 185px;
  border-bottom: 1px solid #e5e5e5; }

.end2lt {
  width: 388px;
  height: 156px;
  padding-top: 30px;
  float: left; }

.end2lt div {
  float: left;
  color: #666; }

.end2lt div:nth-child(2) {
  margin-left: 31px;
  line-height: 30px; }

.end2lt div:nth-child(2) p {
  font-size: 12px; }

#box3 .minsize {
  font-size: 20px; }

#box3 .minsize span {
  font-size: 12px; }

.end2cen {
  width: 578px;
  height: 186px;
  float: left; }

.end2cen ul {
  float: left;
  margin-right: 84px;
  line-height: 25px; }

.end2cen li:hover a {
  border-bottom: 1px solid red;
  color: red; }

.end2cen p {
  margin: 25px 0; }

.end2rt {
  text-align: center;
  font-size: 12px; }

.end2rt div {
  float: left; }

.end2rt div:nth-child(1) {
  margin-right: 50px; }

.end2rt p:nth-child(1) {
  margin-top: 22px; }

.end2rt img {
  margin-top: 10px; }

.end3 {
  font-size: 12px;
  width: 1150px;
  height: 20px;
  margin: 0 auto; }

.end3 h5 {
  margin: 23px 0;
  color: #999;
  padding-left: 20px;
  font-size: 12px; }
  .end3 h5 a {
    color: #999;
    display: inline-block;
    margin: 0 15px 10px 0; }

.end3 h5 a:hover {
  border-bottom: 1px solid red;
  color: red; }

.end3 div {
  width: 1190px;
  height: 50px;
  padding-left: 37px; }

.end3 img {
  float: left;
  margin-right: 8px; }

.end3 p {
  text-align: center;
  font-size: 12px;
  color: #444; }

.end3 p a:hover {
  border-bottom: 1px solid red;
  color: red; }

/*右侧固定栏*/
.fixedrt {
  height: 100%;
  width: 30px;
  background: #444;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999; }

.fixedtop {
  width: 30px;
  height: 30px;
  margin-top: 70px;
  margin-bottom: 35px;
  padding-top: 5px; }

.fixedtop span {
  background: url(../images/bar_new.png) no-repeat -3px -210px;
  display: block;
  widows: 30px;
  height: 30px; }

.fixedtop:hover {
  background: #666; }

.fixedtop:hover span {
  background: url(../images/bar_newhover.png) no-repeat -3px -210px; }

.fixedmid li {
  height: 117px;
  width: 23px;
  padding-left: 7px; }

.gouwubiao {
  background: url(../images/bar_new.png) no-repeat -7px -268px;
  display: block;
  width: 19px;
  height: 30px; }

.gouwushu {
  background: #a6a6a6;
  border-radius: 50%;
  margin-left: -2px;
  display: block;
  width: 20px;
  height: 20px; }

.fixedmid li:hover {
  background: #666; }

.fixedmid li:hover a {
  color: white; }

.fixedmid li:hover .gouwubiao {
  background: url(../images/bar_newhover.png) no-repeat -7px -268px; }

.fixedmid li:hover .gouwushu {
  background: white; }

.fixedmid li:nth-child(2) {
  margin-top: 15px; }

.fixedmid li:nth-child(2) span {
  background: url(../images/bar_new.png) no-repeat -4px -621px;
  display: block;
  width: 30px;
  height: 30px; }

.fixedmid li:nth-child(2):hover span {
  background: url(../images/bar_newhover.png) no-repeat -4px -621px; }

.fixedbot ul {
  margin-top: 40px; }

.fixedbot li {
  padding-top: 10px; }

.fixedbot span {
  background: url(../images/bar_new.png) no-repeat -4px -701px;
  display: block;
  width: 30px;
  height: 30px; }

.fixedbot li:hover {
  background: #666; }

.fixedbot li:hover span {
  background: url(../images/bar_newhover.png) no-repeat -4px -701px; }

/*activity*/
.activity_img1 {
  width: 100%; }

.activity_img1 img {
  width: 100%;
  height: 100%; }

.activity_img2 {
  width: 100%;
  height: 100%;
  background: #52b663; }

.activity_img2 img {
  margin: 0 auto; }
